flows.json
[
    {
        "id": "57aa7085c1d84098",
        "type": "tab",
        "label": "Filter Pump",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3f63d940e09f2d66",
        "type": "tab",
        "label": "SWCG",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4688e1a9d6eb75fd",
        "type": "tab",
        "label": "Polaris Pump",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4b96395a77975ca1",
        "type": "tab",
        "label": "Pool Status",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cd56d1ea593f2982",
        "type": "ui_tab",
        "name": "Filter Pump",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "83381b67c70d2884",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Pool-Ctrl",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "true",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 10,
                "gy": 10,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "6583a8dafac3e1e8",
        "type": "ui_group",
        "name": "Priming",
        "tab": "cd56d1ea593f2982",
        "order": 2,
        "disp": true,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "13c396e881cb4d41",
        "type": "ui_group",
        "name": "Cleaning",
        "tab": "cd56d1ea593f2982",
        "order": 3,
        "disp": true,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c6747b9b634d315e",
        "type": "ui_group",
        "name": "Chlorinating",
        "tab": "cd56d1ea593f2982",
        "order": 3,
        "disp": true,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7b64e0f795292bb5",
        "type": "ui_tab",
        "name": "Polaris Pump",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "68f3763734309e02",
        "type": "ui_group",
        "name": "Polaris Pump",
        "tab": "7b64e0f795292bb5",
        "order": 1,
        "disp": true,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "25b2032c23b6b704",
        "type": "ui_tab",
        "name": "SWCG",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3e9f1181ee5e5391",
        "type": "ui_group",
        "name": "SWCG",
        "tab": "25b2032c23b6b704",
        "order": 1,
        "disp": true,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "dc57eab5ef574e16",
        "type": "ui_tab",
        "name": "Pool Status",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "0d32a9c265af416e",
        "type": "ui_group",
        "name": "FilterPumpCurrent",
        "tab": "dc57eab5ef574e16",
        "order": 3,
        "disp": false,
        "width": "5",
        "collapse": false,
        "className": ""
    },
    {
        "id": "18266d5e5ed2965e",
        "type": "ui_group",
        "name": "WaterTemp",
        "tab": "dc57eab5ef574e16",
        "order": 5,
        "disp": false,
        "width": "5",
        "collapse": false,
        "className": ""
    },
    {
        "id": "552cfad7bc22f889",
        "type": "ui_group",
        "name": "EnclosureTemp",
        "tab": "dc57eab5ef574e16",
        "order": 6,
        "disp": false,
        "width": "5",
        "collapse": false,
        "className": ""
    },
    {
        "id": "16a416e84f9afe7e",
        "type": "ui_group",
        "name": "Filter Pump Speed",
        "tab": "dc57eab5ef574e16",
        "order": 1,
        "disp": true,
        "width": "5",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a35865bb79dd65fb",
        "type": "ui_group",
        "name": "FilterPumpPower",
        "tab": "dc57eab5ef574e16",
        "order": 4,
        "disp": false,
        "width": "5",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4045f84ceb98cf09",
        "type": "ui_group",
        "name": "SWCG & Polaris Pump",
        "tab": "dc57eab5ef574e16",
        "order": 2,
        "disp": true,
        "width": "5",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4fd7552bd6811198",
        "type": "ui_group",
        "name": "Enclosure Fan",
        "tab": "dc57eab5ef574e16",
        "order": 7,
        "disp": true,
        "width": "5",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5603399d2f104787",
        "type": "8relind",
        "z": "57aa7085c1d84098",
        "name": "Speed2Relay",
        "stack": "0",
        "relay": "2",
        "payload": "payload",
        "payloadType": "msg",
        "x": 560,
        "y": 280,
        "wires": [
            [
                "df5bae1991ab6c0f"
            ]
        ]
    },
    {
        "id": "711ccd642a6155cf",
        "type": "ui_time_scheduler",
        "z": "57aa7085c1d84098",
        "group": "6583a8dafac3e1e8",
        "name": "Speed1Scheduler",
        "startDay": 0,
        "refresh": "5",
        "devices": [
            "Speed 1"
        ],
        "singleOff": false,
        "onlySendChange": true,
        "customPayload": false,
        "eventMode": false,
        "eventOptions": [],
        "sendTopic": false,
        "lat": "",
        "lon": "",
        "customContextStore": "",
        "outputs": 2,
        "order": 1,
        "width": "6",
        "height": "2",
        "x": 130,
        "y": 60,
        "wires": [
            [],
            [
                "26609cf05650848c"
            ]
        ]
    },
    {
        "id": "5a79071d1f552e84",
        "type": "8relind",
        "z": "57aa7085c1d84098",
        "name": "Speed1Relay",
        "stack": "0",
        "relay": "1",
        "payload": "payload",
        "payloadType": "msg",
        "x": 560,
        "y": 120,
        "wires": [
            [
                "3b15e2253d536310"
            ]
        ]
    },
    {
        "id": "33ecef8c2137e167",
        "type": "ui_time_scheduler",
        "z": "57aa7085c1d84098",
        "group": "13c396e881cb4d41",
        "name": "Speed2Scheduler",
        "startDay": 0,
        "refresh": "5",
        "devices": [
            "Speed 2"
        ],
        "singleOff": false,
        "onlySendChange": true,
        "customPayload": false,
        "eventMode": false,
        "eventOptions": [],
        "sendTopic": false,
        "lat": "",
        "lon": "",
        "customContextStore": "",
        "outputs": 2,
        "order": 1,
        "width": "6",
        "height": "2",
        "x": 130,
        "y": 220,
        "wires": [
            [],
            [
                "0665a10898f73ed9"
            ]
        ]
    },
    {
        "id": "61bf50795ecdcd91",
        "type": "8relind",
        "z": "57aa7085c1d84098",
        "name": "Speed3Relay",
        "stack": "0",
        "relay": "3",
        "payload": "payload",
        "payloadType": "msg",
        "x": 560,
        "y": 440,
        "wires": [
            [
                "55b37b04d1d475f8"
            ]
        ]
    },
    {
        "id": "727752f0c984d59a",
        "type": "ui_time_scheduler",
        "z": "57aa7085c1d84098",
        "group": "c6747b9b634d315e",
        "name": "Speed3Scheduler",
        "startDay": 0,
        "refresh": "5",
        "devices": [
            "Speed 3"
        ],
        "singleOff": false,
        "onlySendChange": true,
        "customPayload": false,
        "eventMode": false,
        "eventOptions": [],
        "sendTopic": false,
        "lat": "",
        "lon": "",
        "customContextStore": "",
        "outputs": 2,
        "order": 1,
        "width": "6",
        "height": "2",
        "x": 130,
        "y": 380,
        "wires": [
            [],
            [
                "215187038d5b981b"
            ]
        ]
    },
    {
        "id": "d2a1a65506ce79c0",
        "type": "delay",
        "z": "57aa7085c1d84098",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 380,
        "y": 280,
        "wires": [
            [
                "5603399d2f104787"
            ]
        ]
    },
    {
        "id": "811384cdd808526a",
        "type": "delay",
        "z": "57aa7085c1d84098",
        "name": "",
        "pauseType": "delay",
        "timeout": "4",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 380,
        "y": 440,
        "wires": [
            [
                "61bf50795ecdcd91"
            ]
        ]
    },
    {
        "id": "3b15e2253d536310",
        "type": "ui_led",
        "z": "57aa7085c1d84098",
        "order": 2,
        "group": "6583a8dafac3e1e8",
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "false",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 750,
        "y": 120,
        "wires": []
    },
    {
        "id": "df5bae1991ab6c0f",
        "type": "ui_led",
        "z": "57aa7085c1d84098",
        "order": 2,
        "group": "13c396e881cb4d41",
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "false",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 750,
        "y": 280,
        "wires": []
    },
    {
        "id": "55b37b04d1d475f8",
        "type": "ui_led",
        "z": "57aa7085c1d84098",
        "order": 2,
        "group": "c6747b9b634d315e",
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "false",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 750,
        "y": 440,
        "wires": []
    },
    {
        "id": "26609cf05650848c",
        "type": "ui_switch",
        "z": "57aa7085c1d84098",
        "name": "Speed1Switch",
        "label": "",
        "tooltip": "",
        "group": "6583a8dafac3e1e8",
        "order": 2,
        "width": "1",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 200,
        "y": 120,
        "wires": [
            [
                "5a79071d1f552e84"
            ]
        ]
    },
    {
        "id": "0665a10898f73ed9",
        "type": "ui_switch",
        "z": "57aa7085c1d84098",
        "name": "Speed2Switch",
        "label": "",
        "tooltip": "",
        "group": "13c396e881cb4d41",
        "order": 2,
        "width": "1",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 200,
        "y": 280,
        "wires": [
            [
                "d2a1a65506ce79c0"
            ]
        ]
    },
    {
        "id": "215187038d5b981b",
        "type": "ui_switch",
        "z": "57aa7085c1d84098",
        "name": "Speed3Switch",
        "label": "",
        "tooltip": "",
        "group": "c6747b9b634d315e",
        "order": 2,
        "width": "1",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 200,
        "y": 440,
        "wires": [
            [
                "811384cdd808526a"
            ]
        ]
    },
    {
        "id": "35dcdee4ce0a15a9",
        "type": "ui_time_scheduler",
        "z": "3f63d940e09f2d66",
        "group": "3e9f1181ee5e5391",
        "name": "SWCGScheduler",
        "startDay": 0,
        "refresh": 60,
        "devices": [
            "SWCG"
        ],
        "singleOff": false,
        "onlySendChange": true,
        "customPayload": false,
        "eventMode": false,
        "eventOptions": [],
        "sendTopic": false,
        "lat": "",
        "lon": "",
        "customContextStore": "",
        "outputs": 2,
        "order": 1,
        "width": "6",
        "height": "2",
        "x": 130,
        "y": 60,
        "wires": [
            [],
            [
                "7c4e433baadcfe72"
            ]
        ]
    },
    {
        "id": "e0ab2dd31240311a",
        "type": "8relind",
        "z": "3f63d940e09f2d66",
        "name": "SWCGRelay",
        "stack": "0",
        "relay": "7",
        "payload": "payload",
        "payloadType": "msg",
        "x": 710,
        "y": 140,
        "wires": [
            [
                "03309e11e7d6d9fa",
                "7ac2d92a68e73c28"
            ]
        ]
    },
    {
        "id": "03309e11e7d6d9fa",
        "type": "ui_led",
        "z": "3f63d940e09f2d66",
        "order": 2,
        "group": "3e9f1181ee5e5391",
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "false",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 870,
        "y": 100,
        "wires": []
    },
    {
        "id": "ed487821989683b8",
        "type": "delay",
        "z": "3f63d940e09f2d66",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 540,
        "y": 140,
        "wires": [
            [
                "e0ab2dd31240311a"
            ]
        ]
    },
    {
        "id": "7c4e433baadcfe72",
        "type": "ui_switch",
        "z": "3f63d940e09f2d66",
        "name": "SWCGSwitch",
        "label": "",
        "tooltip": "",
        "group": "3e9f1181ee5e5391",
        "order": 3,
        "width": "1",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 160,
        "y": 140,
        "wires": [
            [
                "b72e2bf35cb6570b"
            ]
        ]
    },
    {
        "id": "7ac2d92a68e73c28",
        "type": "link out",
        "z": "3f63d940e09f2d66",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "85357873eb95f343"
        ],
        "x": 845,
        "y": 180,
        "wires": []
    },
    {
        "id": "b72e2bf35cb6570b",
        "type": "function",
        "z": "3f63d940e09f2d66",
        "name": "ProtectSWCG",
        "func": "var SWCGSwitch = msg.payload;\nglobal.set(\"SWCGSwitch\", SWCGSwitch);\nvar vspSpeed = global.get(\"vspSpeed\");\nif (SWCGSwitch == false || SWCGSwitch == true && vspSpeed != \"Speed0\") {\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 140,
        "wires": [
            [
                "ed487821989683b8"
            ]
        ],
        "info": "Don't allow to start SWCG if filter pump is not running."
    },
    {
        "id": "d62e746b789fe73e",
        "type": "ui_toast",
        "z": "3f63d940e09f2d66",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 570,
        "y": 300,
        "wires": []
    },
    {
        "id": "d774f32b6ef7a4d6",
        "type": "inject",
        "z": "3f63d940e09f2d66",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 280,
        "wires": [
            [
                "2d8601c7ae281ed4"
            ]
        ]
    },
    {
        "id": "2d8601c7ae281ed4",
        "type": "function",
        "z": "3f63d940e09f2d66",
        "name": "ResetSWCGSwitch",
        "func": "var vspSpeed = global.get(\"vspSpeed\");\nif (vspSpeed == \"Speed0\") {\n    var SWCGSwitch = global.get(\"SWCGSwitch\");\n    if (SWCGSwitch == true) {\n        return [{ payload: false }, { payload: \"For SWCG to run, the filter pump must be on !\" }];\n    }\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 280,
        "wires": [
            [
                "7c4e433baadcfe72"
            ],
            [
                "d62e746b789fe73e"
            ]
        ],
        "info": "Turn off SWCG if filter pump is not running."
    },
    {
        "id": "154a3db70ed7f61f",
        "type": "comment",
        "z": "3f63d940e09f2d66",
        "name": "To Pool Status flow",
        "info": "",
        "x": 870,
        "y": 220,
        "wires": []
    },
    {
        "id": "2659d86e2cc382d0",
        "type": "ui_time_scheduler",
        "z": "4688e1a9d6eb75fd",
        "group": "68f3763734309e02",
        "name": "PolarisScheduler",
        "startDay": 0,
        "refresh": "5",
        "devices": [
            "Polaris Pump"
        ],
        "singleOff": false,
        "onlySendChange": true,
        "customPayload": false,
        "eventMode": false,
        "eventOptions": [],
        "sendTopic": false,
        "lat": "",
        "lon": "",
        "customContextStore": "",
        "outputs": 2,
        "order": 1,
        "width": "6",
        "height": "2",
        "x": 130,
        "y": 60,
        "wires": [
            [],
            [
                "bf1b6566544e0e55"
            ]
        ]
    },
    {
        "id": "20a9a2b73a9ac383",
        "type": "8relind",
        "z": "4688e1a9d6eb75fd",
        "name": "PolarisRelay",
        "stack": "0",
        "relay": "8",
        "payload": "payload",
        "payloadType": "msg",
        "x": 750,
        "y": 140,
        "wires": [
            [
                "111b6ea6d10da18b",
                "7c51994361debb55"
            ]
        ]
    },
    {
        "id": "111b6ea6d10da18b",
        "type": "ui_led",
        "z": "4688e1a9d6eb75fd",
        "order": 2,
        "group": "68f3763734309e02",
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "false",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 910,
        "y": 100,
        "wires": []
    },
    {
        "id": "029ca3a6d16e342e",
        "type": "delay",
        "z": "4688e1a9d6eb75fd",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 580,
        "y": 140,
        "wires": [
            [
                "20a9a2b73a9ac383"
            ]
        ]
    },
    {
        "id": "bf1b6566544e0e55",
        "type": "ui_switch",
        "z": "4688e1a9d6eb75fd",
        "name": "PolarisSwitch",
        "label": "",
        "tooltip": "",
        "group": "68f3763734309e02",
        "order": 0,
        "width": "1",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 160,
        "y": 140,
        "wires": [
            [
                "1db34e87cf5d7c7c"
            ]
        ]
    },
    {
        "id": "7c51994361debb55",
        "type": "link out",
        "z": "4688e1a9d6eb75fd",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "402827d14d5cb5e0"
        ],
        "x": 875,
        "y": 180,
        "wires": []
    },
    {
        "id": "1db34e87cf5d7c7c",
        "type": "function",
        "z": "4688e1a9d6eb75fd",
        "name": "ProtectPolarisPump",
        "func": "var polarisSwitch = msg.payload;\nglobal.set(\"polarisSwitch\", polarisSwitch);\nvar vspSpeed = global.get(\"vspSpeed\");\nif(polarisSwitch == false || polarisSwitch == true && vspSpeed == \"Speed2\") {\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 140,
        "wires": [
            [
                "029ca3a6d16e342e"
            ]
        ],
        "info": "Don't allow to turn Polaris pump on if filter pump is not running\r\nat Speed2."
    },
    {
        "id": "bcc7c781e6e60d74",
        "type": "ui_toast",
        "z": "4688e1a9d6eb75fd",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 570,
        "y": 300,
        "wires": []
    },
    {
        "id": "ce865d5c57b923df",
        "type": "inject",
        "z": "4688e1a9d6eb75fd",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 280,
        "wires": [
            [
                "95d85863c5b5ac63"
            ]
        ]
    },
    {
        "id": "95d85863c5b5ac63",
        "type": "function",
        "z": "4688e1a9d6eb75fd",
        "name": "ResetPolarisSwitch",
        "func": "var vspSpeed = global.get(\"vspSpeed\");\nif (vspSpeed != \"Speed2\") {\n    var polarisSwitch = global.get(\"polarisSwitch\");\n    if (polarisSwitch == true) {\n        return [{ payload: false }, { payload: \"For Polaris to run, filter pump must run at Speed2 !\" }];\n    }\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 280,
        "wires": [
            [
                "bf1b6566544e0e55"
            ],
            [
                "bcc7c781e6e60d74"
            ]
        ],
        "info": "Turn off Polaris pump switch if filter pump not running at Speed2.\r\nSend notification on attempt to turn Polaris on if\r\nvspSpeed != Speed2."
    },
    {
        "id": "383beb8619562272",
        "type": "comment",
        "z": "4688e1a9d6eb75fd",
        "name": "To Pool Status flow",
        "info": "",
        "x": 890,
        "y": 220,
        "wires": []
    },
    {
        "id": "1176598a97703092",
        "type": "ui_gauge",
        "z": "4b96395a77975ca1",
        "name": "",
        "group": "0d32a9c265af416e",
        "order": 0,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "Filter Pump Current",
        "label": "A",
        "format": "{{value | number:3}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 770,
        "y": 60,
        "wires": []
    },
    {
        "id": "e1b7aa9a076740ec",
        "type": "ui_gauge",
        "z": "4b96395a77975ca1",
        "name": "",
        "group": "18266d5e5ed2965e",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Water Temp",
        "label": "F",
        "format": "{{value | number:1}}",
        "min": "40",
        "max": "120",
        "colors": [
            "#05e6e2",
            "#fafa05",
            "#eb0505"
        ],
        "seg1": "70",
        "seg2": "85",
        "diff": false,
        "className": "",
        "x": 790,
        "y": 580,
        "wires": []
    },
    {
        "id": "6844177a765d99ee",
        "type": "ui_gauge",
        "z": "4b96395a77975ca1",
        "name": "",
        "group": "552cfad7bc22f889",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Enclosure Temp",
        "label": "F",
        "format": "{{value | number:1}}",
        "min": "40",
        "max": "120",
        "colors": [
            "#05e6e2",
            "#fafa05",
            "#eb0505"
        ],
        "seg1": "70",
        "seg2": "85",
        "diff": false,
        "className": "",
        "x": 780,
        "y": 640,
        "wires": []
    },
    {
        "id": "c566a74f72e90710",
        "type": "BAS R 10K in",
        "z": "4b96395a77975ca1",
        "name": "",
        "stack": "0",
        "channel": "1",
        "payload": "payload",
        "payloadType": "msg",
        "x": 310,
        "y": 580,
        "wires": [
            [
                "61e2e1673da7f097"
            ]
        ]
    },
    {
        "id": "7948aa3259590a08",
        "type": "BAS 0-10V in",
        "z": "4b96395a77975ca1",
        "name": "",
        "stack": "0",
        "channel": "3",
        "payload": "payload",
        "payloadType": "msg",
        "x": 310,
        "y": 120,
        "wires": [
            [
                "1176598a97703092",
                "86c40ee346c5b9ae",
                "e24e8bec39c261be"
            ]
        ]
    },
    {
        "id": "31eebae1a6cd070a",
        "type": "BAS R 10K in",
        "z": "4b96395a77975ca1",
        "name": "",
        "stack": "0",
        "channel": "2",
        "payload": "payload",
        "payloadType": "msg",
        "x": 310,
        "y": 640,
        "wires": [
            [
                "1e64f66566dfaf14"
            ]
        ]
    },
    {
        "id": "e4b7fefd4175e45e",
        "type": "inject",
        "z": "4b96395a77975ca1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 120,
        "wires": [
            [
                "7948aa3259590a08"
            ]
        ]
    },
    {
        "id": "494bb2075e28edb9",
        "type": "inject",
        "z": "4b96395a77975ca1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 580,
        "wires": [
            [
                "c566a74f72e90710"
            ]
        ]
    },
    {
        "id": "fbab8a266f816c26",
        "type": "inject",
        "z": "4b96395a77975ca1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 640,
        "wires": [
            [
                "31eebae1a6cd070a"
            ]
        ]
    },
    {
        "id": "7156231e662085f4",
        "type": "ui_led",
        "z": "4b96395a77975ca1",
        "order": 1,
        "group": "16a416e84f9afe7e",
        "width": "0",
        "height": "0",
        "label": "Speed1 - Priming",
        "labelPlacement": "right",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "false",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Speed1",
        "x": 800,
        "y": 240,
        "wires": []
    },
    {
        "id": "1119d7adf0917de4",
        "type": "ui_led",
        "z": "4b96395a77975ca1",
        "order": 2,
        "group": "16a416e84f9afe7e",
        "width": "0",
        "height": "0",
        "label": "Speed2 - Cleaning",
        "labelPlacement": "right",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "false",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Speed2",
        "x": 800,
        "y": 300,
        "wires": []
    },
    {
        "id": "77fbf8f3dac33eac",
        "type": "ui_led",
        "z": "4b96395a77975ca1",
        "order": 3,
        "group": "16a416e84f9afe7e",
        "width": "0",
        "height": "0",
        "label": "Speed3 - Chlorinating",
        "labelPlacement": "right",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "false",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Speed3",
        "x": 800,
        "y": 360,
        "wires": []
    },
    {
        "id": "92619ce0f1b14716",
        "type": "toggle",
        "z": "4b96395a77975ca1",
        "name": "",
        "onOffTopic": "",
        "onValue": "true",
        "onType": "bool",
        "offValue": "false",
        "offType": "bool",
        "toggleTopic": "",
        "toggleValue": "",
        "toggleType": "str",
        "passOnOff": "always",
        "x": 530,
        "y": 240,
        "wires": [
            [
                "7156231e662085f4"
            ]
        ]
    },
    {
        "id": "caea3d25a7f99178",
        "type": "toggle",
        "z": "4b96395a77975ca1",
        "name": "",
        "onOffTopic": "",
        "onValue": "true",
        "onType": "bool",
        "offValue": "false",
        "offType": "bool",
        "toggleTopic": "",
        "toggleValue": "",
        "toggleType": "str",
        "passOnOff": "always",
        "x": 530,
        "y": 300,
        "wires": [
            [
                "1119d7adf0917de4"
            ]
        ]
    },
    {
        "id": "e2a22966e601e893",
        "type": "toggle",
        "z": "4b96395a77975ca1",
        "name": "",
        "onOffTopic": "",
        "onValue": "true",
        "onType": "bool",
        "offValue": "false",
        "offType": "bool",
        "toggleTopic": "",
        "toggleValue": "",
        "toggleType": "str",
        "passOnOff": "always",
        "x": 530,
        "y": 360,
        "wires": [
            [
                "77fbf8f3dac33eac"
            ]
        ]
    },
    {
        "id": "86c40ee346c5b9ae",
        "type": "function",
        "z": "4b96395a77975ca1",
        "name": "mapCurrentRangesToSpeeds",
        "func": "var current = msg.payload;\nif(current >= 1.8) {\n    global.set(\"vspSpeed\", \"Speed1\");\n    return [{payload: true}, {payload: false}, {payload: false}];\n} else if(current >= 1.2) {\n    global.set(\"vspSpeed\", \"Speed2\");\n    return [{ payload: false }, { payload: true }, { payload: false }];\n} else if(current >= 0.5) {\n    global.set(\"vspSpeed\", \"Speed3\");\n    return [{ payload: false }, { payload: false }, { payload: true }];\n} else {\n    global.set(\"vspSpeed\", \"Speed0\");\n    return [{ payload: false }, { payload: false }, { payload: false }];\n}",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 300,
        "wires": [
            [
                "92619ce0f1b14716"
            ],
            [
                "caea3d25a7f99178"
            ],
            [
                "e2a22966e601e893"
            ]
        ]
    },
    {
        "id": "e24e8bec39c261be",
        "type": "change",
        "z": "4b96395a77975ca1",
        "name": "calculateFilterPumpPower",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "msg.payload * 240",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 120,
        "wires": [
            [
                "f72b240e050c4645"
            ]
        ]
    },
    {
        "id": "f72b240e050c4645",
        "type": "ui_gauge",
        "z": "4b96395a77975ca1",
        "name": "",
        "group": "a35865bb79dd65fb",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Filter Pump Power",
        "label": "W",
        "format": "{{value | number:2}}",
        "min": 0,
        "max": "2400",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 770,
        "y": 180,
        "wires": []
    },
    {
        "id": "5339998e0f6dae17",
        "type": "ui_led",
        "z": "4b96395a77975ca1",
        "order": 1,
        "group": "4045f84ceb98cf09",
        "width": 0,
        "height": 0,
        "label": "SWCG",
        "labelPlacement": "right",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "false",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "SWCG",
        "x": 800,
        "y": 440,
        "wires": []
    },
    {
        "id": "c63ec6c2b44ec339",
        "type": "ui_led",
        "z": "4b96395a77975ca1",
        "order": 2,
        "group": "4045f84ceb98cf09",
        "width": 0,
        "height": 0,
        "label": "Polaris Pump",
        "labelPlacement": "right",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "false",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Polaris",
        "x": 810,
        "y": 500,
        "wires": []
    },
    {
        "id": "85357873eb95f343",
        "type": "link in",
        "z": "4b96395a77975ca1",
        "name": "link in 1",
        "links": [
            "7ac2d92a68e73c28"
        ],
        "x": 155,
        "y": 440,
        "wires": [
            [
                "5339998e0f6dae17"
            ]
        ]
    },
    {
        "id": "402827d14d5cb5e0",
        "type": "link in",
        "z": "4b96395a77975ca1",
        "name": "link in 2",
        "links": [
            "7c51994361debb55"
        ],
        "x": 155,
        "y": 500,
        "wires": [
            [
                "c63ec6c2b44ec339"
            ]
        ]
    },
    {
        "id": "30c4a06c54a64769",
        "type": "comment",
        "z": "4b96395a77975ca1",
        "name": "From Polaris flow",
        "info": "",
        "x": 280,
        "y": 480,
        "wires": []
    },
    {
        "id": "3e6f187fecc88d87",
        "type": "comment",
        "z": "4b96395a77975ca1",
        "name": "From SWCG flow",
        "info": "",
        "x": 280,
        "y": 420,
        "wires": []
    },
    {
        "id": "61e2e1673da7f097",
        "type": "function",
        "z": "4b96395a77975ca1",
        "name": "Steinhart-HartWater",
        "func": "//var A = -0.000502318;\n//var B = 0.000479838;\n//var C = -7.22045E-07;\n\nvar A = 0.001125308852122;\nvar B = 0.000234711863267;\nvar C = 0.000000085663516;\n\nvar R = msg.payload * 1000;\n\n// In Kelvin\nvar Trecip = A + B * Math.log(R) + C * (Math.log(R)) ** 3;\nvar T = 1 / Trecip;\n\n// In Fahrenheit\nmsg.payload = (T - 273.15) * 9.0 / 5.0 + 32.0;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 580,
        "wires": [
            [
                "e1b7aa9a076740ec"
            ]
        ]
    },
    {
        "id": "1e64f66566dfaf14",
        "type": "function",
        "z": "4b96395a77975ca1",
        "name": "Steinhart-HartEnclosure",
        "func": "//var A = -0.000502318;\n//var B = 0.000479838;\n//var C = -7.22045E-07;\n\nvar A = 0.001125308852122;\nvar B = 0.000234711863267;\nvar C = 0.000000085663516;\n\nvar R = msg.payload * 1000;\n\n// In Kelvin\nvar Trecip = A + B * Math.log(R) + C * (Math.log(R)) ** 3;\nvar T = 1 / Trecip;\n\n// In Fahrenheit\nmsg.payload = (T - 273.15) * 9.0 / 5.0 + 32.0;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 640,
        "wires": [
            [
                "6844177a765d99ee",
                "9cef508ff0a07f3f"
            ]
        ]
    },
    {
        "id": "eba710b3735ba873",
        "type": "ui_numeric",
        "z": "4b96395a77975ca1",
        "name": "EnterFanStartTemp",
        "label": "Fan Start Temp",
        "tooltip": "",
        "group": "4fd7552bd6811198",
        "order": 3,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}} &degF",
        "min": "40",
        "max": "120",
        "step": 1,
        "className": "",
        "x": 390,
        "y": 860,
        "wires": [
            [
                "479ead13a6775c5b"
            ]
        ]
    },
    {
        "id": "c5e4e2e7e9d8a17b",
        "type": "ui_numeric",
        "z": "4b96395a77975ca1",
        "name": "EnterFanStopTemp",
        "label": "Fan Stop Temp",
        "tooltip": "",
        "group": "4fd7552bd6811198",
        "order": 3,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}} &degF",
        "min": "40",
        "max": "120",
        "step": 1,
        "className": "",
        "x": 390,
        "y": 920,
        "wires": [
            [
                "d77339e798ac28c5"
            ]
        ]
    },
    {
        "id": "12095c7b0e55bc1e",
        "type": "ui_led",
        "z": "4b96395a77975ca1",
        "order": 2,
        "group": "4fd7552bd6811198",
        "width": 0,
        "height": 0,
        "label": "Status",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "false",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 810,
        "y": 820,
        "wires": []
    },
    {
        "id": "9cef508ff0a07f3f",
        "type": "function",
        "z": "4b96395a77975ca1",
        "name": "FanOnOrOff",
        "func": "var temp = msg.payload;\nvar FanStartTemp = global.get(\"FanStartTemp\");\nvar FanStopTemp = global.get(\"FanStopTemp\");\n\nif (temp > FanStartTemp) {\n    msg.payload = true;\n}\nelse if (temp < FanStopTemp) {\n    msg.payload = false;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 700,
        "wires": [
            [
                "8b0c435caad96e90"
            ]
        ]
    },
    {
        "id": "8b0c435caad96e90",
        "type": "toggle",
        "z": "4b96395a77975ca1",
        "name": "toggle",
        "onOffTopic": "",
        "onValue": "true",
        "onType": "bool",
        "offValue": "false",
        "offType": "bool",
        "toggleTopic": "",
        "toggleValue": "",
        "toggleType": "str",
        "passOnOff": "always",
        "x": 710,
        "y": 700,
        "wires": [
            [
                "962e8890cd94bf0d"
            ]
        ]
    },
    {
        "id": "479ead13a6775c5b",
        "type": "function",
        "z": "4b96395a77975ca1",
        "name": "SaveInGlobalContext",
        "func": "var temp = msg.payload;\nglobal.set(\"FanStartTemp\", temp);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "d77339e798ac28c5",
        "type": "function",
        "z": "4b96395a77975ca1",
        "name": "SaveInGlobalContext",
        "func": "var temp = msg.payload;\nglobal.set(\"FanStopTemp\", temp);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "962e8890cd94bf0d",
        "type": "8relind",
        "z": "4b96395a77975ca1",
        "name": "FanRelay",
        "stack": "0",
        "relay": "6",
        "payload": "payload",
        "payloadType": "msg",
        "x": 800,
        "y": 760,
        "wires": [
            [
                "12095c7b0e55bc1e"
            ]
        ]
    },
    {
        "id": "4f944705c6e60603",
        "type": "inject",
        "z": "4b96395a77975ca1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "FanStartTemp",
        "payloadType": "global",
        "x": 160,
        "y": 860,
        "wires": [
            [
                "eba710b3735ba873"
            ]
        ]
    },
    {
        "id": "967426ca18b4726e",
        "type": "inject",
        "z": "4b96395a77975ca1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "FanStopTemp",
        "payloadType": "global",
        "x": 160,
        "y": 920,
        "wires": [
            [
                "c5e4e2e7e9d8a17b"
            ]
        ]
    }
]