flows.json
[
    {
        "id": "4b96395a77975ca1",
        "type": "tab",
        "label": "Pool Status",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "57aa7085c1d84098",
        "type": "tab",
        "label": "Filter Pump",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3f63d940e09f2d66",
        "type": "tab",
        "label": "SWCG",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4688e1a9d6eb75fd",
        "type": "tab",
        "label": "Polaris Pump",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c0f272f785fad1e5",
        "type": "tab",
        "label": "Charts",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e12f18fb86d56370",
        "type": "subflow",
        "name": "Steinhart-Hart",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 80,
                "y": 80,
                "wires": [
                    {
                        "id": "f2b43a8667c1e099"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 440,
                "y": 80,
                "wires": [
                    {
                        "id": "f2b43a8667c1e099",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "e39eaef375abcb4c",
        "type": "subflow",
        "name": "ToCelsius",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 80,
                "y": 80,
                "wires": [
                    {
                        "id": "aaad63aa35e90ef7"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 400,
                "y": 80,
                "wires": [
                    {
                        "id": "aaad63aa35e90ef7",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "04d557c8bb84f92b",
        "type": "subflow",
        "name": "EmailNotification",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 200,
                "y": 40,
                "wires": [
                    {
                        "id": "75b10c91963284d5"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "cd56d1ea593f2982",
        "type": "ui_tab",
        "name": "Filter Pump",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "83381b67c70d2884",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Pool-Ctrl",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 10,
                "gy": 10,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "6583a8dafac3e1e8",
        "type": "ui_group",
        "name": "Priming",
        "tab": "cd56d1ea593f2982",
        "order": 2,
        "disp": true,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "13c396e881cb4d41",
        "type": "ui_group",
        "name": "Cleaning",
        "tab": "cd56d1ea593f2982",
        "order": 3,
        "disp": true,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c6747b9b634d315e",
        "type": "ui_group",
        "name": "Chlorinating",
        "tab": "cd56d1ea593f2982",
        "order": 3,
        "disp": true,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7b64e0f795292bb5",
        "type": "ui_tab",
        "name": "Polaris Pump",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "68f3763734309e02",
        "type": "ui_group",
        "name": "Polaris Pump",
        "tab": "7b64e0f795292bb5",
        "order": 1,
        "disp": true,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "25b2032c23b6b704",
        "type": "ui_tab",
        "name": "SWCG",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3e9f1181ee5e5391",
        "type": "ui_group",
        "name": "SWCG",
        "tab": "25b2032c23b6b704",
        "order": 1,
        "disp": true,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "dc57eab5ef574e16",
        "type": "ui_tab",
        "name": "Pool Status",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "0d32a9c265af416e",
        "type": "ui_group",
        "name": "Filter Pump Current [A]",
        "tab": "dc57eab5ef574e16",
        "order": 4,
        "disp": true,
        "width": "5",
        "collapse": false,
        "className": ""
    },
    {
        "id": "18266d5e5ed2965e",
        "type": "ui_group",
        "name": "Water Temp [°F]",
        "tab": "dc57eab5ef574e16",
        "order": 8,
        "disp": true,
        "width": "5",
        "collapse": false,
        "className": ""
    },
    {
        "id": "552cfad7bc22f889",
        "type": "ui_group",
        "name": "Enclosure Temp [°C]",
        "tab": "dc57eab5ef574e16",
        "order": 10,
        "disp": true,
        "width": "5",
        "collapse": false,
        "className": ""
    },
    {
        "id": "16a416e84f9afe7e",
        "type": "ui_group",
        "name": "Filter Pump Speed",
        "tab": "dc57eab5ef574e16",
        "order": 2,
        "disp": true,
        "width": "5",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a35865bb79dd65fb",
        "type": "ui_group",
        "name": "Filter Pump Power [W]",
        "tab": "dc57eab5ef574e16",
        "order": 5,
        "disp": true,
        "width": "5",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4045f84ceb98cf09",
        "type": "ui_group",
        "name": "SWCG & Polaris Pump",
        "tab": "dc57eab5ef574e16",
        "order": 3,
        "disp": true,
        "width": "5",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4fd7552bd6811198",
        "type": "ui_group",
        "name": "Enclosure Fan",
        "tab": "dc57eab5ef574e16",
        "order": 11,
        "disp": true,
        "width": "5",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7f421a3b1dcf30cf",
        "type": "ui_group",
        "name": "CurrentTime",
        "tab": "dc57eab5ef574e16",
        "order": 1,
        "disp": false,
        "width": "5",
        "collapse": false,
        "className": ""
    },
    {
        "id": "be528cb45c4c0782",
        "type": "ui_group",
        "name": "Cpu Temp [°C]",
        "tab": "dc57eab5ef574e16",
        "order": 9,
        "disp": true,
        "width": "5",
        "collapse": false,
        "className": ""
    },
    {
        "id": "322f8f2977a81686",
        "type": "ui_tab",
        "name": "Charts",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "96cfaa1c32a04204",
        "type": "ui_group",
        "name": "Air / Water Temperature [°F]",
        "tab": "322f8f2977a81686",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "06b1dc811ba8bfe4",
        "type": "ui_group",
        "name": "Cpu / Enclosure / Air Temperature [°C]",
        "tab": "322f8f2977a81686",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "cb7f341b71631289",
        "type": "ui_group",
        "name": "Air Temp [°F]",
        "tab": "dc57eab5ef574e16",
        "order": 7,
        "disp": true,
        "width": "5",
        "collapse": false,
        "className": ""
    },
    {
        "id": "11f718cecb7bd24c",
        "type": "ui_group",
        "name": "VSP Current [A] (5-minute aggregates)",
        "tab": "322f8f2977a81686",
        "order": 3,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9507e16a4592b9c5",
        "type": "ui_group",
        "name": "SWCG Supply Current [A]",
        "tab": "dc57eab5ef574e16",
        "order": 6,
        "disp": true,
        "width": "5",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d72708171566f9a3",
        "type": "ui_group",
        "name": "SWCG Supply Current [A] (5-minute aggregates)",
        "tab": "322f8f2977a81686",
        "order": 4,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9535ae078c18fbf1",
        "type": "ui_group",
        "name": "SWCG Daily Duty Cycle [%]",
        "tab": "322f8f2977a81686",
        "order": 6,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f2b43a8667c1e099",
        "type": "function",
        "z": "e12f18fb86d56370",
        "name": "Steinhart-Hart",
        "func": "let A = 0.001125308852122;\nlet B = 0.000234711863267;\nlet C = 0.000000085663516;\n\nlet R = msg.payload * 1000;\n\n// In Kelvin\nlet Trecip = A + B * Math.log(R) + C * (Math.log(R)) ** 3;\nlet T = 1 / Trecip;\n\n// In Fahrenheit\nlet f = (T - 273.15) * 9.0 / 5.0 + 32.0;\nmsg.payload = f.toFixed(1);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 80,
        "wires": [
            []
        ],
        "info": "Subflow to calculate Fahrenheit temperature\r\nfrom 10k thermistor resistance."
    },
    {
        "id": "aaad63aa35e90ef7",
        "type": "function",
        "z": "e39eaef375abcb4c",
        "name": "ToCelsius",
        "func": "let f = msg.payload;\nlet c = (f - 32.0) * 5 / 9;\n\nmsg.payload = c.toFixed(1);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 80,
        "wires": [
            []
        ],
        "info": "Subflow to convert Fahrenheit temparature to Celsius."
    },
    {
        "id": "75b10c91963284d5",
        "type": "e-mail",
        "z": "04d557c8bb84f92b",
        "server": "smtp.gmail.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": false,
        "name": "poolboyjerry@gmail.com",
        "dname": "PoolEmailNotification",
        "x": 380,
        "y": 40,
        "wires": []
    },
    {
        "id": "1176598a97703092",
        "type": "ui_gauge",
        "z": "4b96395a77975ca1",
        "name": "",
        "group": "0d32a9c265af416e",
        "order": 0,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "",
        "label": "A",
        "format": "{{value | number:3}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 830,
        "y": 200,
        "wires": []
    },
    {
        "id": "e1b7aa9a076740ec",
        "type": "ui_gauge",
        "z": "4b96395a77975ca1",
        "name": "",
        "group": "18266d5e5ed2965e",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "",
        "label": "F",
        "format": "{{value | number:1}}",
        "min": "40",
        "max": "100",
        "colors": [
            "#05e6e2",
            "#fafa05",
            "#eb0505"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 830,
        "y": 920,
        "wires": []
    },
    {
        "id": "6844177a765d99ee",
        "type": "ui_gauge",
        "z": "4b96395a77975ca1",
        "name": "",
        "group": "552cfad7bc22f889",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "",
        "label": "°C",
        "format": "{{value | number:1}}",
        "min": "0",
        "max": "60",
        "colors": [
            "#05e6e2",
            "#fafa05",
            "#eb0505"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 830,
        "y": 1000,
        "wires": []
    },
    {
        "id": "c566a74f72e90710",
        "type": "BAS R 10K in",
        "z": "4b96395a77975ca1",
        "name": "",
        "stack": "0",
        "channel": "1",
        "payload": "payload",
        "payloadType": "msg",
        "x": 350,
        "y": 920,
        "wires": [
            [
                "b22004a283699c7c"
            ]
        ]
    },
    {
        "id": "7948aa3259590a08",
        "type": "BAS 0-10V in",
        "z": "4b96395a77975ca1",
        "name": "",
        "stack": "0",
        "channel": "3",
        "payload": "payload",
        "payloadType": "msg",
        "x": 310,
        "y": 220,
        "wires": [
            [
                "86c40ee346c5b9ae",
                "e24e8bec39c261be",
                "1176598a97703092",
                "5fcb7c5549e0edc9"
            ]
        ]
    },
    {
        "id": "31eebae1a6cd070a",
        "type": "BAS R 10K in",
        "z": "4b96395a77975ca1",
        "name": "",
        "stack": "0",
        "channel": "2",
        "payload": "payload",
        "payloadType": "msg",
        "x": 350,
        "y": 980,
        "wires": [
            [
                "237579c78d16e1bc"
            ]
        ]
    },
    {
        "id": "e4b7fefd4175e45e",
        "type": "inject",
        "z": "4b96395a77975ca1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": "2",
        "topic": "VSP Current",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 160,
        "wires": [
            [
                "7948aa3259590a08"
            ]
        ]
    },
    {
        "id": "494bb2075e28edb9",
        "type": "inject",
        "z": "4b96395a77975ca1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "Water",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 920,
        "wires": [
            [
                "c566a74f72e90710"
            ]
        ]
    },
    {
        "id": "fbab8a266f816c26",
        "type": "inject",
        "z": "4b96395a77975ca1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "Enclosure",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 980,
        "wires": [
            [
                "31eebae1a6cd070a"
            ]
        ]
    },
    {
        "id": "7156231e662085f4",
        "type": "ui_led",
        "z": "4b96395a77975ca1",
        "order": 1,
        "group": "16a416e84f9afe7e",
        "width": "0",
        "height": "0",
        "label": "Speed1 - Priming",
        "labelPlacement": "right",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "false",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Speed1",
        "x": 820,
        "y": 360,
        "wires": []
    },
    {
        "id": "1119d7adf0917de4",
        "type": "ui_led",
        "z": "4b96395a77975ca1",
        "order": 2,
        "group": "16a416e84f9afe7e",
        "width": "0",
        "height": "0",
        "label": "Speed2 - Cleaning",
        "labelPlacement": "right",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "false",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Speed2",
        "x": 820,
        "y": 420,
        "wires": []
    },
    {
        "id": "77fbf8f3dac33eac",
        "type": "ui_led",
        "z": "4b96395a77975ca1",
        "order": 3,
        "group": "16a416e84f9afe7e",
        "width": "0",
        "height": "0",
        "label": "Speed3 - Chlorinating",
        "labelPlacement": "right",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "false",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Speed3",
        "x": 820,
        "y": 500,
        "wires": []
    },
    {
        "id": "caea3d25a7f99178",
        "type": "toggle",
        "z": "4b96395a77975ca1",
        "name": "",
        "onOffTopic": "",
        "onValue": "true",
        "onType": "bool",
        "offValue": "false",
        "offType": "bool",
        "toggleTopic": "",
        "toggleValue": "",
        "toggleType": "str",
        "passOnOff": "ifChanged",
        "x": 410,
        "y": 420,
        "wires": [
            [
                "1119d7adf0917de4",
                "8bbb7e65eca87fb3"
            ]
        ]
    },
    {
        "id": "86c40ee346c5b9ae",
        "type": "function",
        "z": "4b96395a77975ca1",
        "name": "mapCurrentToSpeed",
        "func": "/* Returns an array of 6 booleans with one of [1..4] elements set to true, indicating\n   the pump's current speed: Speed1, Speed2, Speed3 or Speed0 (standby current).\n   The element [0] is set to true if the pump current is higher by a resonable margin\n   than Speed1. The element [5] is set to true if the pump current is close to 0,\n   indicating a tripped circuit breaker.\n*/\nvar current = msg.payload;\nglobal.set(\"vspCurrent\", current);\nif(current >= 2.3) {\n    global.set(\"vspSpeed\", \"Speed1\");\n    return [{payload:true}, {payload:true}, {payload:false}, {payload:false}, {payload:false}, {payload:false}];\n} else if(current >= 1.8) {\n    global.set(\"vspSpeed\", \"Speed1\");\n    return [{payload:false}, {payload:true}, {payload:false}, {payload:false}, {payload:false}, {payload:false}];\n} else if(current >= 1.1) {\n    global.set(\"vspSpeed\", \"Speed2\");\n    return [{payload:false}, {payload:false}, {payload:true}, {payload:false}, {payload:false}, {payload:false}];\n} else if(current >= 0.5) {\n    global.set(\"vspSpeed\", \"Speed3\");\n    return [{payload:false}, {payload:false}, {payload:false}, {payload:true}, {payload:false}, {payload:false}];\n} else if(current >= 0.05) {\n    global.set(\"vspSpeed\", \"Speed0\");\n    return [{payload:false}, {payload:false}, {payload:false}, {payload:false}, {payload:true}, {payload:false}];\n} else {\n    global.set(\"vspSpeed\", \"Speed0\");\n    return [{payload:false}, {payload:false}, {payload:false}, {payload:false}, {payload:true}, {payload:true}];\n}",
        "outputs": 6,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 180,
        "y": 440,
        "wires": [
            [
                "f692fd44671da3b7"
            ],
            [
                "92619ce0f1b14716"
            ],
            [
                "caea3d25a7f99178"
            ],
            [
                "e2a22966e601e893"
            ],
            [
                "ef26258c53aeb4b1"
            ],
            [
                "18524ce0570ca769"
            ]
        ]
    },
    {
        "id": "e24e8bec39c261be",
        "type": "change",
        "z": "4b96395a77975ca1",
        "name": "calculateFilterPumpPower",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "msg.payload * 240",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 240,
        "wires": [
            [
                "f72b240e050c4645"
            ]
        ]
    },
    {
        "id": "f72b240e050c4645",
        "type": "ui_gauge",
        "z": "4b96395a77975ca1",
        "name": "",
        "group": "a35865bb79dd65fb",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "",
        "label": "W",
        "format": "{{value | number:2}}",
        "min": 0,
        "max": "2400",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 830,
        "y": 240,
        "wires": []
    },
    {
        "id": "5339998e0f6dae17",
        "type": "ui_led",
        "z": "4b96395a77975ca1",
        "order": 1,
        "group": "4045f84ceb98cf09",
        "width": 0,
        "height": 0,
        "label": "SWCG",
        "labelPlacement": "right",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "false",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "SWCG",
        "x": 820,
        "y": 660,
        "wires": []
    },
    {
        "id": "c63ec6c2b44ec339",
        "type": "ui_led",
        "z": "4b96395a77975ca1",
        "order": 2,
        "group": "4045f84ceb98cf09",
        "width": 0,
        "height": 0,
        "label": "Polaris Pump",
        "labelPlacement": "right",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "false",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Polaris",
        "x": 830,
        "y": 700,
        "wires": []
    },
    {
        "id": "85357873eb95f343",
        "type": "link in",
        "z": "4b96395a77975ca1",
        "name": "link in 1",
        "links": [
            "7ac2d92a68e73c28"
        ],
        "x": 175,
        "y": 660,
        "wires": [
            [
                "5339998e0f6dae17"
            ]
        ]
    },
    {
        "id": "402827d14d5cb5e0",
        "type": "link in",
        "z": "4b96395a77975ca1",
        "name": "link in 2",
        "links": [
            "7c51994361debb55"
        ],
        "x": 175,
        "y": 700,
        "wires": [
            [
                "c63ec6c2b44ec339"
            ]
        ]
    },
    {
        "id": "eba710b3735ba873",
        "type": "ui_numeric",
        "z": "4b96395a77975ca1",
        "name": "EnterFanStartTemp",
        "label": "Fan Start Temp",
        "tooltip": "",
        "group": "4fd7552bd6811198",
        "order": 3,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}} &degC",
        "min": "5",
        "max": "50",
        "step": 1,
        "className": "",
        "x": 390,
        "y": 1220,
        "wires": [
            [
                "479ead13a6775c5b"
            ]
        ]
    },
    {
        "id": "c5e4e2e7e9d8a17b",
        "type": "ui_numeric",
        "z": "4b96395a77975ca1",
        "name": "EnterFanStopTemp",
        "label": "Fan Stop Temp",
        "tooltip": "",
        "group": "4fd7552bd6811198",
        "order": 3,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}} &degC",
        "min": "5",
        "max": "50",
        "step": 1,
        "className": "",
        "x": 390,
        "y": 1280,
        "wires": [
            [
                "d77339e798ac28c5"
            ]
        ]
    },
    {
        "id": "12095c7b0e55bc1e",
        "type": "ui_led",
        "z": "4b96395a77975ca1",
        "order": 2,
        "group": "4fd7552bd6811198",
        "width": 0,
        "height": 0,
        "label": "Status",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "false",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 830,
        "y": 1100,
        "wires": []
    },
    {
        "id": "9cef508ff0a07f3f",
        "type": "function",
        "z": "4b96395a77975ca1",
        "name": "FanOnOrOff",
        "func": "var temp = msg.payload;\nvar FanStartTemp = global.get(\"FanStartTemp\");\nvar FanStopTemp = global.get(\"FanStopTemp\");\n\nif (temp > FanStartTemp) {\n    msg.payload = true;\n}\nelse if (temp < FanStopTemp) {\n    msg.payload = false;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 1100,
        "wires": [
            [
                "8b0c435caad96e90"
            ]
        ]
    },
    {
        "id": "8b0c435caad96e90",
        "type": "toggle",
        "z": "4b96395a77975ca1",
        "name": "toggle",
        "onOffTopic": "",
        "onValue": "true",
        "onType": "bool",
        "offValue": "false",
        "offType": "bool",
        "toggleTopic": "",
        "toggleValue": "",
        "toggleType": "str",
        "passOnOff": "ifChanged",
        "x": 490,
        "y": 1100,
        "wires": [
            [
                "962e8890cd94bf0d"
            ]
        ]
    },
    {
        "id": "479ead13a6775c5b",
        "type": "function",
        "z": "4b96395a77975ca1",
        "name": "SaveInGlobalContext",
        "func": "var temp = msg.payload;\nglobal.set(\"FanStartTemp\", temp);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 1220,
        "wires": [
            []
        ]
    },
    {
        "id": "d77339e798ac28c5",
        "type": "function",
        "z": "4b96395a77975ca1",
        "name": "SaveInGlobalContext",
        "func": "var temp = msg.payload;\nglobal.set(\"FanStopTemp\", temp);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 1280,
        "wires": [
            []
        ]
    },
    {
        "id": "962e8890cd94bf0d",
        "type": "8relind",
        "z": "4b96395a77975ca1",
        "name": "FanRelay",
        "stack": "0",
        "relay": "6",
        "payload": "payload",
        "payloadType": "msg",
        "x": 640,
        "y": 1100,
        "wires": [
            [
                "12095c7b0e55bc1e"
            ]
        ]
    },
    {
        "id": "4f944705c6e60603",
        "type": "inject",
        "z": "4b96395a77975ca1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "FanStartTemp",
        "payloadType": "global",
        "x": 160,
        "y": 1220,
        "wires": [
            [
                "eba710b3735ba873"
            ]
        ]
    },
    {
        "id": "967426ca18b4726e",
        "type": "inject",
        "z": "4b96395a77975ca1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "FanStopTemp",
        "payloadType": "global",
        "x": 160,
        "y": 1280,
        "wires": [
            [
                "c5e4e2e7e9d8a17b"
            ]
        ]
    },
    {
        "id": "e2a22966e601e893",
        "type": "toggle",
        "z": "4b96395a77975ca1",
        "name": "",
        "onOffTopic": "",
        "onValue": "true",
        "onType": "bool",
        "offValue": "false",
        "offType": "bool",
        "toggleTopic": "",
        "toggleValue": "",
        "toggleType": "str",
        "passOnOff": "ifChanged",
        "x": 410,
        "y": 480,
        "wires": [
            [
                "77fbf8f3dac33eac"
            ]
        ]
    },
    {
        "id": "8bbb7e65eca87fb3",
        "type": "link out",
        "z": "4b96395a77975ca1",
        "name": "link out 6",
        "mode": "link",
        "links": [
            "a5692093ed8bdb4a"
        ],
        "x": 795,
        "y": 460,
        "wires": []
    },
    {
        "id": "ef26258c53aeb4b1",
        "type": "toggle",
        "z": "4b96395a77975ca1",
        "name": "",
        "onOffTopic": "",
        "onValue": "true",
        "onType": "bool",
        "offValue": "false",
        "offType": "bool",
        "toggleTopic": "",
        "toggleValue": "",
        "toggleType": "str",
        "passOnOff": "ifChanged",
        "x": 410,
        "y": 540,
        "wires": [
            [
                "d6ca499c42d260e1"
            ]
        ]
    },
    {
        "id": "d6ca499c42d260e1",
        "type": "link out",
        "z": "4b96395a77975ca1",
        "name": "link out 7",
        "mode": "link",
        "links": [
            "7c19cbf5e55a8cd9"
        ],
        "x": 795,
        "y": 540,
        "wires": []
    },
    {
        "id": "32bc1e869254c826",
        "type": "inject",
        "z": "4b96395a77975ca1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 1340,
        "wires": [
            [
                "3dc9d11661b15411",
                "2f5d4e9b4785f9af"
            ]
        ]
    },
    {
        "id": "3dc9d11661b15411",
        "type": "function",
        "z": "4b96395a77975ca1",
        "name": "Convert2TimeString",
        "func": "let timestamp = msg.payload;\nlet time = new Date(timestamp).toLocaleTimeString();\nreturn {\n    payload: time\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 1340,
        "wires": [
            [
                "a8e474b6d56e8228"
            ]
        ]
    },
    {
        "id": "a8e474b6d56e8228",
        "type": "ui_text",
        "z": "4b96395a77975ca1",
        "group": "7f421a3b1dcf30cf",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Digital time",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "digital_time",
        "x": 550,
        "y": 1340,
        "wires": []
    },
    {
        "id": "2f5d4e9b4785f9af",
        "type": "ui_clock",
        "z": "4b96395a77975ca1",
        "name": "",
        "group": "7f421a3b1dcf30cf",
        "order": 3,
        "width": "3",
        "height": "3",
        "x": 290,
        "y": 1380,
        "wires": []
    },
    {
        "id": "6799c6487319e63a",
        "type": "ui_template",
        "z": "4b96395a77975ca1",
        "group": "7f421a3b1dcf30cf",
        "name": "",
        "order": 2,
        "width": "1",
        "height": "1",
        "format": "<style>\n    .digital_time {\n        transform: scale(1);\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 540,
        "y": 1380,
        "wires": [
            []
        ]
    },
    {
        "id": "3f46dcfd80905234",
        "type": "exec",
        "z": "4b96395a77975ca1",
        "command": "sudo vcgencmd measure_temp",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 370,
        "y": 1160,
        "wires": [
            [
                "8bec55162dd6dc32"
            ],
            [],
            []
        ]
    },
    {
        "id": "98889b5f0c8ee098",
        "type": "inject",
        "z": "4b96395a77975ca1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "Cpu",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 1160,
        "wires": [
            [
                "3f46dcfd80905234"
            ]
        ]
    },
    {
        "id": "8bec55162dd6dc32",
        "type": "function",
        "z": "4b96395a77975ca1",
        "name": "extractCPUTemp",
        "func": "let expr = msg.payload;\n// vcgencmd measure_temp prints to standard output\"\n// temp=54.5'C\nmsg.payload = expr.substring(5, expr.lastIndexOf(\"'\"));\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 1160,
        "wires": [
            [
                "3743eca48c342350",
                "eafbc79c885b930e"
            ]
        ]
    },
    {
        "id": "3743eca48c342350",
        "type": "ui_gauge",
        "z": "4b96395a77975ca1",
        "name": "",
        "group": "be528cb45c4c0782",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "",
        "label": "°C",
        "format": "{{value}}",
        "min": "0",
        "max": "80",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 830,
        "y": 1160,
        "wires": []
    },
    {
        "id": "044396ee4edbb423",
        "type": "link out",
        "z": "4b96395a77975ca1",
        "name": "link out 8",
        "mode": "link",
        "links": [
            "0be7a512af5258bd"
        ],
        "x": 795,
        "y": 880,
        "wires": []
    },
    {
        "id": "fb55be63495f43b5",
        "type": "link out",
        "z": "4b96395a77975ca1",
        "name": "link out 10",
        "mode": "link",
        "links": [
            "24e1b9d00ff40fa4"
        ],
        "x": 795,
        "y": 1040,
        "wires": []
    },
    {
        "id": "eafbc79c885b930e",
        "type": "link out",
        "z": "4b96395a77975ca1",
        "name": "link out 11",
        "mode": "link",
        "links": [
            "588f0339291477f4"
        ],
        "x": 795,
        "y": 1200,
        "wires": []
    },
    {
        "id": "c1d99ef4b9d91cc3",
        "type": "inject",
        "z": "4b96395a77975ca1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Air",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 800,
        "wires": [
            [
                "53ad2f84e31105ec"
            ]
        ]
    },
    {
        "id": "53ad2f84e31105ec",
        "type": "BAS R 10K in",
        "z": "4b96395a77975ca1",
        "name": "",
        "stack": "0",
        "channel": "8",
        "payload": "payload",
        "payloadType": "msg",
        "x": 350,
        "y": 800,
        "wires": [
            [
                "27423b229191df4e"
            ]
        ]
    },
    {
        "id": "bc752452df545960",
        "type": "ui_gauge",
        "z": "4b96395a77975ca1",
        "name": "",
        "group": "cb7f341b71631289",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "",
        "label": "F",
        "format": "{{value | number:1}}",
        "min": "40",
        "max": "120",
        "colors": [
            "#05e6e2",
            "#fafa05",
            "#eb0505"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 830,
        "y": 800,
        "wires": []
    },
    {
        "id": "1bc5b3e0d3c496c3",
        "type": "link out",
        "z": "4b96395a77975ca1",
        "name": "link out 12",
        "mode": "link",
        "links": [
            "1c3f39b17cd1cf56"
        ],
        "x": 795,
        "y": 760,
        "wires": []
    },
    {
        "id": "328833e45226d67f",
        "type": "link out",
        "z": "4b96395a77975ca1",
        "name": "link out 13",
        "mode": "link",
        "links": [
            "01cea2a4cb05a9be"
        ],
        "x": 795,
        "y": 840,
        "wires": []
    },
    {
        "id": "27423b229191df4e",
        "type": "subflow:e12f18fb86d56370",
        "z": "4b96395a77975ca1",
        "name": "",
        "x": 530,
        "y": 800,
        "wires": [
            [
                "1bc5b3e0d3c496c3",
                "bc752452df545960",
                "8fcbc3fcf775341d"
            ]
        ]
    },
    {
        "id": "8fcbc3fcf775341d",
        "type": "subflow:e39eaef375abcb4c",
        "z": "4b96395a77975ca1",
        "name": "",
        "x": 680,
        "y": 840,
        "wires": [
            [
                "328833e45226d67f"
            ]
        ]
    },
    {
        "id": "b22004a283699c7c",
        "type": "subflow:e12f18fb86d56370",
        "z": "4b96395a77975ca1",
        "name": "",
        "x": 530,
        "y": 920,
        "wires": [
            [
                "044396ee4edbb423",
                "e1b7aa9a076740ec"
            ]
        ]
    },
    {
        "id": "237579c78d16e1bc",
        "type": "subflow:e12f18fb86d56370",
        "z": "4b96395a77975ca1",
        "name": "",
        "x": 530,
        "y": 980,
        "wires": [
            [
                "64dac35cca9bfb7b"
            ]
        ]
    },
    {
        "id": "64dac35cca9bfb7b",
        "type": "subflow:e39eaef375abcb4c",
        "z": "4b96395a77975ca1",
        "name": "",
        "x": 640,
        "y": 1040,
        "wires": [
            [
                "6844177a765d99ee",
                "fb55be63495f43b5",
                "9cef508ff0a07f3f"
            ]
        ]
    },
    {
        "id": "92619ce0f1b14716",
        "type": "toggle",
        "z": "4b96395a77975ca1",
        "name": "",
        "onOffTopic": "",
        "onValue": "true",
        "onType": "bool",
        "offValue": "false",
        "offType": "bool",
        "toggleTopic": "",
        "toggleValue": "",
        "toggleType": "str",
        "passOnOff": "ifChanged",
        "x": 410,
        "y": 360,
        "wires": [
            [
                "7156231e662085f4"
            ]
        ]
    },
    {
        "id": "f692fd44671da3b7",
        "type": "toggle",
        "z": "4b96395a77975ca1",
        "name": "",
        "onOffTopic": "",
        "onValue": "true",
        "onType": "bool",
        "offValue": "false",
        "offType": "bool",
        "toggleTopic": "",
        "toggleValue": "",
        "toggleType": "str",
        "passOnOff": "ifChanged",
        "x": 410,
        "y": 300,
        "wires": [
            [
                "3af81276eb503169"
            ]
        ]
    },
    {
        "id": "18524ce0570ca769",
        "type": "toggle",
        "z": "4b96395a77975ca1",
        "name": "",
        "onOffTopic": "",
        "onValue": "true",
        "onType": "bool",
        "offValue": "false",
        "offType": "bool",
        "toggleTopic": "",
        "toggleValue": "",
        "toggleType": "str",
        "passOnOff": "ifChanged",
        "x": 410,
        "y": 600,
        "wires": [
            [
                "eb0a16a5a38cbf1c"
            ]
        ]
    },
    {
        "id": "3af81276eb503169",
        "type": "function",
        "z": "4b96395a77975ca1",
        "name": "HighVspCurrAlarm",
        "func": "let alarmSubject = \"High VSP current alarm\";\nlet alarmContents = \"VSP current is \" + global.get(\"vspCurrent\") + \" A\";\nlet alarmClearedSubject = \"High VSP current alarm cleared\";\nlet alarmClearedContents = \"No contents\";\nif(msg.payload == true) {\n    msg.topic = alarmSubject;\n    msg.payload = alarmContents;\n} else {\n    msg.topic = alarmClearedSubject;\n    msg.payload = alarmClearedContents;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 300,
        "wires": [
            [
                "35d89d397492a75d"
            ]
        ]
    },
    {
        "id": "eb0a16a5a38cbf1c",
        "type": "function",
        "z": "4b96395a77975ca1",
        "name": "LowVspCurrAlarm",
        "func": "let alarmSubject = \"Low VSP current alarm\";\nlet alarmContents = \"VSP current is \" + global.get(\"vspCurrent\") + \" A\";\nlet alarmClearedSubject = \"Low VSP current alarm cleared\";\nlet alarmClearedContents = \"No contents\";\nif (msg.payload == true) {\n    msg.topic = alarmSubject;\n    msg.payload = alarmContents;\n} else {\n    msg.topic = alarmClearedSubject;\n    msg.payload = alarmClearedContents;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 600,
        "wires": [
            [
                "d0e19d8dc2843237"
            ]
        ]
    },
    {
        "id": "35d89d397492a75d",
        "type": "subflow:04d557c8bb84f92b",
        "z": "4b96395a77975ca1",
        "name": "",
        "x": 800,
        "y": 300,
        "wires": []
    },
    {
        "id": "d0e19d8dc2843237",
        "type": "subflow:04d557c8bb84f92b",
        "z": "4b96395a77975ca1",
        "name": "",
        "x": 800,
        "y": 600,
        "wires": []
    },
    {
        "id": "5fcb7c5549e0edc9",
        "type": "link out",
        "z": "4b96395a77975ca1",
        "name": "link out 14",
        "mode": "link",
        "links": [
            "8adf0d566e08c1f6"
        ],
        "x": 795,
        "y": 160,
        "wires": []
    },
    {
        "id": "055db489515c4561",
        "type": "inject",
        "z": "4b96395a77975ca1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": "2",
        "topic": "SWCG Current",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 60,
        "wires": [
            [
                "319ab9e8ae0d1a45"
            ]
        ]
    },
    {
        "id": "319ab9e8ae0d1a45",
        "type": "BAS 0-10V in",
        "z": "4b96395a77975ca1",
        "name": "",
        "stack": "0",
        "channel": "4",
        "payload": "payload",
        "payloadType": "msg",
        "x": 410,
        "y": 60,
        "wires": [
            [
                "78892d657369c12a",
                "03029c545ab1b46c"
            ]
        ]
    },
    {
        "id": "78892d657369c12a",
        "type": "ui_gauge",
        "z": "4b96395a77975ca1",
        "name": "",
        "group": "9507e16a4592b9c5",
        "order": 0,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "",
        "label": "A",
        "format": "{{value | number:3}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 830,
        "y": 60,
        "wires": []
    },
    {
        "id": "03029c545ab1b46c",
        "type": "link out",
        "z": "4b96395a77975ca1",
        "name": "link out 15",
        "mode": "link",
        "links": [
            "bbec21e3df4e097e",
            "dc6c197a2b8840b8",
            "ef165b825f6f2b09",
            "aba63d0385761a28",
            "8f983bf1fd86c031"
        ],
        "x": 795,
        "y": 100,
        "wires": []
    },
    {
        "id": "5603399d2f104787",
        "type": "8relind",
        "z": "57aa7085c1d84098",
        "name": "Speed2Relay",
        "stack": "0",
        "relay": "2",
        "payload": "payload",
        "payloadType": "msg",
        "x": 580,
        "y": 180,
        "wires": [
            [
                "df5bae1991ab6c0f"
            ]
        ]
    },
    {
        "id": "711ccd642a6155cf",
        "type": "ui_time_scheduler",
        "z": "57aa7085c1d84098",
        "group": "6583a8dafac3e1e8",
        "name": "Speed1Scheduler",
        "startDay": 0,
        "refresh": "5",
        "devices": [
            "Speed 1"
        ],
        "singleOff": false,
        "onlySendChange": true,
        "customPayload": false,
        "eventMode": false,
        "eventOptions": [],
        "sendTopic": false,
        "lat": "40.39448",
        "lon": "-74.10402",
        "customContextStore": "",
        "outputs": 2,
        "order": 1,
        "width": "6",
        "height": "2",
        "x": 130,
        "y": 60,
        "wires": [
            [],
            [
                "26609cf05650848c"
            ]
        ]
    },
    {
        "id": "5a79071d1f552e84",
        "type": "8relind",
        "z": "57aa7085c1d84098",
        "name": "Speed1Relay",
        "stack": "0",
        "relay": "1",
        "payload": "payload",
        "payloadType": "msg",
        "x": 580,
        "y": 60,
        "wires": [
            [
                "3b15e2253d536310"
            ]
        ]
    },
    {
        "id": "33ecef8c2137e167",
        "type": "ui_time_scheduler",
        "z": "57aa7085c1d84098",
        "group": "13c396e881cb4d41",
        "name": "Speed2Scheduler",
        "startDay": 0,
        "refresh": "5",
        "devices": [
            "Speed 2"
        ],
        "singleOff": false,
        "onlySendChange": true,
        "customPayload": false,
        "eventMode": false,
        "eventOptions": [],
        "sendTopic": false,
        "lat": "40.39448",
        "lon": "-74.10402",
        "customContextStore": "",
        "outputs": 2,
        "order": 1,
        "width": "6",
        "height": "2",
        "x": 130,
        "y": 180,
        "wires": [
            [],
            [
                "0665a10898f73ed9"
            ]
        ]
    },
    {
        "id": "61bf50795ecdcd91",
        "type": "8relind",
        "z": "57aa7085c1d84098",
        "name": "Speed3Relay",
        "stack": "0",
        "relay": "3",
        "payload": "payload",
        "payloadType": "msg",
        "x": 580,
        "y": 300,
        "wires": [
            [
                "55b37b04d1d475f8"
            ]
        ]
    },
    {
        "id": "727752f0c984d59a",
        "type": "ui_time_scheduler",
        "z": "57aa7085c1d84098",
        "group": "c6747b9b634d315e",
        "name": "Speed3Scheduler",
        "startDay": 0,
        "refresh": "5",
        "devices": [
            "Speed 3"
        ],
        "singleOff": false,
        "onlySendChange": true,
        "customPayload": false,
        "eventMode": false,
        "eventOptions": [],
        "sendTopic": false,
        "lat": "40.39448",
        "lon": "-74.10402",
        "customContextStore": "",
        "outputs": 2,
        "order": 1,
        "width": "6",
        "height": "2",
        "x": 130,
        "y": 300,
        "wires": [
            [],
            [
                "215187038d5b981b"
            ]
        ]
    },
    {
        "id": "3b15e2253d536310",
        "type": "ui_led",
        "z": "57aa7085c1d84098",
        "order": 2,
        "group": "6583a8dafac3e1e8",
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "false",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 750,
        "y": 60,
        "wires": []
    },
    {
        "id": "df5bae1991ab6c0f",
        "type": "ui_led",
        "z": "57aa7085c1d84098",
        "order": 2,
        "group": "13c396e881cb4d41",
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "false",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 750,
        "y": 180,
        "wires": []
    },
    {
        "id": "55b37b04d1d475f8",
        "type": "ui_led",
        "z": "57aa7085c1d84098",
        "order": 2,
        "group": "c6747b9b634d315e",
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "false",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 750,
        "y": 300,
        "wires": []
    },
    {
        "id": "26609cf05650848c",
        "type": "ui_switch",
        "z": "57aa7085c1d84098",
        "name": "Speed1Switch",
        "label": "",
        "tooltip": "",
        "group": "6583a8dafac3e1e8",
        "order": 2,
        "width": "1",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 340,
        "y": 60,
        "wires": [
            [
                "b19e70dfdf164a24"
            ]
        ]
    },
    {
        "id": "0665a10898f73ed9",
        "type": "ui_switch",
        "z": "57aa7085c1d84098",
        "name": "Speed2Switch",
        "label": "",
        "tooltip": "",
        "group": "13c396e881cb4d41",
        "order": 2,
        "width": "1",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 340,
        "y": 180,
        "wires": [
            [
                "0567f4dbcabf4f9a"
            ]
        ]
    },
    {
        "id": "215187038d5b981b",
        "type": "ui_switch",
        "z": "57aa7085c1d84098",
        "name": "Speed3Switch",
        "label": "",
        "tooltip": "",
        "group": "c6747b9b634d315e",
        "order": 2,
        "width": "1",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 340,
        "y": 300,
        "wires": [
            [
                "6abed712e17a040b"
            ]
        ]
    },
    {
        "id": "b19e70dfdf164a24",
        "type": "delay",
        "z": "57aa7085c1d84098",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "3",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 460,
        "y": 120,
        "wires": [
            [
                "e8b2ab3964c04b5b"
            ]
        ]
    },
    {
        "id": "0567f4dbcabf4f9a",
        "type": "delay",
        "z": "57aa7085c1d84098",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "3",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 460,
        "y": 240,
        "wires": [
            [
                "5714a2997c35b33f"
            ]
        ]
    },
    {
        "id": "6abed712e17a040b",
        "type": "delay",
        "z": "57aa7085c1d84098",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "3",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 460,
        "y": 360,
        "wires": [
            [
                "6b6cd30f15834281"
            ]
        ]
    },
    {
        "id": "e8b2ab3964c04b5b",
        "type": "toggle",
        "z": "57aa7085c1d84098",
        "name": "",
        "onOffTopic": "",
        "onValue": "true",
        "onType": "bool",
        "offValue": "false",
        "offType": "bool",
        "toggleTopic": "",
        "toggleValue": "",
        "toggleType": "str",
        "passOnOff": "ifChanged",
        "x": 630,
        "y": 120,
        "wires": [
            [
                "5a79071d1f552e84"
            ]
        ]
    },
    {
        "id": "5714a2997c35b33f",
        "type": "toggle",
        "z": "57aa7085c1d84098",
        "name": "",
        "onOffTopic": "",
        "onValue": "true",
        "onType": "bool",
        "offValue": "false",
        "offType": "bool",
        "toggleTopic": "",
        "toggleValue": "",
        "toggleType": "str",
        "passOnOff": "ifChanged",
        "x": 630,
        "y": 240,
        "wires": [
            [
                "5603399d2f104787"
            ]
        ]
    },
    {
        "id": "6b6cd30f15834281",
        "type": "toggle",
        "z": "57aa7085c1d84098",
        "name": "",
        "onOffTopic": "",
        "onValue": "true",
        "onType": "bool",
        "offValue": "false",
        "offType": "bool",
        "toggleTopic": "",
        "toggleValue": "",
        "toggleType": "str",
        "passOnOff": "ifChanged",
        "x": 630,
        "y": 360,
        "wires": [
            [
                "61bf50795ecdcd91"
            ]
        ]
    },
    {
        "id": "35dcdee4ce0a15a9",
        "type": "ui_time_scheduler",
        "z": "3f63d940e09f2d66",
        "group": "3e9f1181ee5e5391",
        "name": "SWCGScheduler",
        "startDay": 0,
        "refresh": "5",
        "devices": [
            "SWCG"
        ],
        "singleOff": false,
        "onlySendChange": true,
        "customPayload": false,
        "eventMode": false,
        "eventOptions": [],
        "sendTopic": false,
        "lat": "40.39448",
        "lon": "-74.10402",
        "customContextStore": "",
        "outputs": 2,
        "order": 1,
        "width": "6",
        "height": "2",
        "x": 130,
        "y": 60,
        "wires": [
            [],
            [
                "785c98cc83c92395"
            ]
        ]
    },
    {
        "id": "e0ab2dd31240311a",
        "type": "8relind",
        "z": "3f63d940e09f2d66",
        "name": "SWCGRelay",
        "stack": "0",
        "relay": "7",
        "payload": "payload",
        "payloadType": "msg",
        "x": 570,
        "y": 60,
        "wires": [
            [
                "03309e11e7d6d9fa",
                "7ac2d92a68e73c28"
            ]
        ]
    },
    {
        "id": "03309e11e7d6d9fa",
        "type": "ui_led",
        "z": "3f63d940e09f2d66",
        "order": 2,
        "group": "3e9f1181ee5e5391",
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "false",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 750,
        "y": 140,
        "wires": []
    },
    {
        "id": "7c4e433baadcfe72",
        "type": "ui_switch",
        "z": "3f63d940e09f2d66",
        "name": "SWCGSwitch",
        "label": "",
        "tooltip": "",
        "group": "3e9f1181ee5e5391",
        "order": 3,
        "width": "1",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 160,
        "y": 160,
        "wires": [
            [
                "b72e2bf35cb6570b",
                "f339168af5813d52"
            ]
        ]
    },
    {
        "id": "7ac2d92a68e73c28",
        "type": "link out",
        "z": "3f63d940e09f2d66",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "85357873eb95f343"
        ],
        "x": 715,
        "y": 60,
        "wires": []
    },
    {
        "id": "b72e2bf35cb6570b",
        "type": "function",
        "z": "3f63d940e09f2d66",
        "name": "ProtectSWCG",
        "func": "var SWCGSwitch = msg.payload;\nvar vspSpeed = global.get(\"vspSpeed\");\nif (SWCGSwitch == false || SWCGSwitch == true && vspSpeed != \"Speed0\") {\n    // Pass the message to the SWCG relay.\n    return [msg, null];\n} else {\n    // VSP speed is not appropriate for the SWCG to run.\n    return [null, { payload: \"For SWCG to run, the filter pump must be on\" }];\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 160,
        "wires": [
            [
                "662a2ce69b1e105a"
            ],
            [
                "d62e746b789fe73e"
            ]
        ],
        "info": "Block the message to the SWCG Relay if the filter pump\r\nis not running at any speed."
    },
    {
        "id": "d62e746b789fe73e",
        "type": "ui_toast",
        "z": "3f63d940e09f2d66",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 570,
        "y": 200,
        "wires": []
    },
    {
        "id": "2d8601c7ae281ed4",
        "type": "function",
        "z": "3f63d940e09f2d66",
        "name": "ResetSWCGSwitch2",
        "func": "var isSpeed0 = msg.payload;\nif (isSpeed0 == true) {\n    return { payload: false };\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 180,
        "y": 300,
        "wires": [
            [
                "7c4e433baadcfe72"
            ]
        ],
        "info": "Reset the SWCG switch if the OFF message has been sent from the Speed0\r\ntoggle in the Pool Status flow. In other words, turn the SWCG off if\r\nthe VSP current transducer starts reporting Speed0 (the pump\r\nis not running)."
    },
    {
        "id": "7c19cbf5e55a8cd9",
        "type": "link in",
        "z": "3f63d940e09f2d66",
        "name": "link in 4",
        "links": [
            "d6ca499c42d260e1"
        ],
        "x": 185,
        "y": 380,
        "wires": [
            [
                "2d8601c7ae281ed4"
            ]
        ]
    },
    {
        "id": "662a2ce69b1e105a",
        "type": "toggle",
        "z": "3f63d940e09f2d66",
        "name": "",
        "onOffTopic": "",
        "onValue": "true",
        "onType": "bool",
        "offValue": "false",
        "offType": "bool",
        "toggleTopic": "",
        "toggleValue": "",
        "toggleType": "str",
        "passOnOff": "ifChanged",
        "x": 530,
        "y": 140,
        "wires": [
            [
                "e0ab2dd31240311a"
            ]
        ]
    },
    {
        "id": "f339168af5813d52",
        "type": "function",
        "z": "3f63d940e09f2d66",
        "name": "ResetSWCGSwitch1",
        "func": "var vspSpeed = global.get(\"vspSpeed\");\nvar swcgSwitch = msg.payload;\nif (vspSpeed == \"Speed0\" && swcgSwitch == true) {\n     return { payload: false };\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 300,
        "wires": [
            [
                "7c4e433baadcfe72"
            ]
        ],
        "info": "Reset the SWCG switch if the scheduler or the user attempts to\r\nturn it ON while the filter pump doesn't run."
    },
    {
        "id": "785c98cc83c92395",
        "type": "delay",
        "z": "3f63d940e09f2d66",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 340,
        "y": 60,
        "wires": [
            [
                "7c4e433baadcfe72"
            ]
        ],
        "info": "This delay is to avoid a racing condition\r\nbetween SWCG and filter pump schedulers."
    },
    {
        "id": "2659d86e2cc382d0",
        "type": "ui_time_scheduler",
        "z": "4688e1a9d6eb75fd",
        "group": "68f3763734309e02",
        "name": "PolarisScheduler",
        "startDay": 0,
        "refresh": "5",
        "devices": [
            "Polaris Pump"
        ],
        "singleOff": false,
        "onlySendChange": true,
        "customPayload": false,
        "eventMode": false,
        "eventOptions": [],
        "sendTopic": false,
        "lat": "40.39448",
        "lon": "-74.10402",
        "customContextStore": "",
        "outputs": 2,
        "order": 1,
        "width": "6",
        "height": "2",
        "x": 130,
        "y": 60,
        "wires": [
            [],
            [
                "3883b479e514189d"
            ]
        ]
    },
    {
        "id": "20a9a2b73a9ac383",
        "type": "8relind",
        "z": "4688e1a9d6eb75fd",
        "name": "PolarisRelay",
        "stack": "0",
        "relay": "8",
        "payload": "payload",
        "payloadType": "msg",
        "x": 590,
        "y": 60,
        "wires": [
            [
                "7c51994361debb55",
                "111b6ea6d10da18b"
            ]
        ]
    },
    {
        "id": "111b6ea6d10da18b",
        "type": "ui_led",
        "z": "4688e1a9d6eb75fd",
        "order": 2,
        "group": "68f3763734309e02",
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "false",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 770,
        "y": 140,
        "wires": []
    },
    {
        "id": "bf1b6566544e0e55",
        "type": "ui_switch",
        "z": "4688e1a9d6eb75fd",
        "name": "PolarisSwitch",
        "label": "",
        "tooltip": "",
        "group": "68f3763734309e02",
        "order": 0,
        "width": "1",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 160,
        "y": 160,
        "wires": [
            [
                "1db34e87cf5d7c7c",
                "38ab6c2f80376031"
            ]
        ]
    },
    {
        "id": "7c51994361debb55",
        "type": "link out",
        "z": "4688e1a9d6eb75fd",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "402827d14d5cb5e0"
        ],
        "x": 735,
        "y": 60,
        "wires": []
    },
    {
        "id": "1db34e87cf5d7c7c",
        "type": "function",
        "z": "4688e1a9d6eb75fd",
        "name": "ProtectPolarisPump",
        "func": "var polarisSwitch = msg.payload;\nvar vspSpeed = global.get(\"vspSpeed\");\nif(polarisSwitch == false || polarisSwitch == true && vspSpeed == \"Speed2\") {\n    // Pass the message to the Polaris relay.\n    return [msg, null];\n} else {\n    // VSP speed is not appropriate for the Polaris pump to run.\n    return [null, {payload: \"For Polaris to run, filter pump must run at speed 2\"}];\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 160,
        "wires": [
            [
                "40d4fe8c0ccc9bb4"
            ],
            [
                "bcc7c781e6e60d74"
            ]
        ],
        "info": "Block the message to the Polaris Relay if the filter pump\r\ndoesn't run at Speed2."
    },
    {
        "id": "bcc7c781e6e60d74",
        "type": "ui_toast",
        "z": "4688e1a9d6eb75fd",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 610,
        "y": 200,
        "wires": []
    },
    {
        "id": "40d4fe8c0ccc9bb4",
        "type": "toggle",
        "z": "4688e1a9d6eb75fd",
        "name": "",
        "onOffTopic": "",
        "onValue": "true",
        "onType": "bool",
        "offValue": "false",
        "offType": "bool",
        "toggleTopic": "",
        "toggleValue": "",
        "toggleType": "str",
        "passOnOff": "ifChanged",
        "x": 570,
        "y": 140,
        "wires": [
            [
                "20a9a2b73a9ac383"
            ]
        ]
    },
    {
        "id": "a5692093ed8bdb4a",
        "type": "link in",
        "z": "4688e1a9d6eb75fd",
        "name": "link in 5",
        "links": [
            "8bbb7e65eca87fb3"
        ],
        "x": 185,
        "y": 380,
        "wires": [
            [
                "30efecb80aa483fc"
            ]
        ]
    },
    {
        "id": "38ab6c2f80376031",
        "type": "function",
        "z": "4688e1a9d6eb75fd",
        "name": "ResetPolarisSwitch1",
        "func": "var vspSpeed = global.get(\"vspSpeed\");\nvar polarisSwitch = msg.payload;\nif (vspSpeed != \"Speed2\" && polarisSwitch == true) {\n     return { payload: false };\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 300,
        "wires": [
            [
                "bf1b6566544e0e55"
            ]
        ],
        "info": "Reset the Polaris switch if the scheduler or the user attempts to\r\nturn it ON while the filter pump doesn't run at Speed2."
    },
    {
        "id": "30efecb80aa483fc",
        "type": "function",
        "z": "4688e1a9d6eb75fd",
        "name": "ResetPolarisSwitch2",
        "func": "var isSpeed2 = msg.payload;\nif (isSpeed2 == false) {\n     return { payload: false };\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 180,
        "y": 300,
        "wires": [
            [
                "bf1b6566544e0e55"
            ]
        ],
        "info": "Reset the Polaris switch if the OFF message has been sent from\r\nSpeed2 toggle in the Pool Status flow. In other words, turn\r\nthe Polaris pump off if the VSP current transducer stops\r\nreporting Speed2."
    },
    {
        "id": "3883b479e514189d",
        "type": "delay",
        "z": "4688e1a9d6eb75fd",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 340,
        "y": 60,
        "wires": [
            [
                "bf1b6566544e0e55"
            ]
        ],
        "info": "This delay is to avoid a racing condition\r\nbetween Polaris and filter pump schedulers. "
    },
    {
        "id": "0be7a512af5258bd",
        "type": "link in",
        "z": "c0f272f785fad1e5",
        "name": "link in 6",
        "links": [
            "044396ee4edbb423"
        ],
        "x": 165,
        "y": 120,
        "wires": [
            [
                "6bf8e4bdfbe33dd2"
            ]
        ]
    },
    {
        "id": "43783b079ad5b905",
        "type": "inject",
        "z": "c0f272f785fad1e5",
        "name": "Clear Chart",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[]",
        "payloadType": "jsonata",
        "x": 550,
        "y": 180,
        "wires": [
            [
                "8d02091b58de8f0b"
            ]
        ]
    },
    {
        "id": "d8265cee72db87d1",
        "type": "ui_chart",
        "z": "c0f272f785fad1e5",
        "name": "CpuEnclosureAirTempChart",
        "group": "06b1dc811ba8bfe4",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "true",
        "xformat": "auto",
        "interpolate": "step",
        "nodata": "Waiting for data to arrive...",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff7f0e",
            "#2ca02c",
            "#aec0e8",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 820,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "24e1b9d00ff40fa4",
        "type": "link in",
        "z": "c0f272f785fad1e5",
        "name": "link in 7",
        "links": [
            "fb55be63495f43b5"
        ],
        "x": 165,
        "y": 280,
        "wires": [
            [
                "05786c0743ce2fa9"
            ]
        ]
    },
    {
        "id": "b9efe2d485b97b0d",
        "type": "inject",
        "z": "c0f272f785fad1e5",
        "name": "Clear Chart",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[]",
        "payloadType": "jsonata",
        "x": 550,
        "y": 400,
        "wires": [
            [
                "d8265cee72db87d1"
            ]
        ]
    },
    {
        "id": "6bf8e4bdfbe33dd2",
        "type": "delay",
        "z": "c0f272f785fad1e5",
        "name": "",
        "pauseType": "timed",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 320,
        "y": 120,
        "wires": [
            [
                "fe2f5511fcca9378"
            ]
        ]
    },
    {
        "id": "05786c0743ce2fa9",
        "type": "delay",
        "z": "c0f272f785fad1e5",
        "name": "",
        "pauseType": "timed",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 320,
        "y": 280,
        "wires": [
            [
                "e1bc41953f65b110"
            ]
        ]
    },
    {
        "id": "588f0339291477f4",
        "type": "link in",
        "z": "c0f272f785fad1e5",
        "name": "link in 8",
        "links": [
            "eafbc79c885b930e"
        ],
        "x": 165,
        "y": 220,
        "wires": [
            [
                "c86a4a9521b61073"
            ]
        ]
    },
    {
        "id": "c86a4a9521b61073",
        "type": "delay",
        "z": "c0f272f785fad1e5",
        "name": "",
        "pauseType": "timed",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 320,
        "y": 220,
        "wires": [
            [
                "d8265cee72db87d1"
            ]
        ]
    },
    {
        "id": "1c3f39b17cd1cf56",
        "type": "link in",
        "z": "c0f272f785fad1e5",
        "name": "link in 9",
        "links": [
            "1bc5b3e0d3c496c3"
        ],
        "x": 165,
        "y": 60,
        "wires": [
            [
                "5c1cf71818f46622"
            ]
        ]
    },
    {
        "id": "5c1cf71818f46622",
        "type": "delay",
        "z": "c0f272f785fad1e5",
        "name": "",
        "pauseType": "timed",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 320,
        "y": 60,
        "wires": [
            [
                "8d02091b58de8f0b"
            ]
        ]
    },
    {
        "id": "01cea2a4cb05a9be",
        "type": "link in",
        "z": "c0f272f785fad1e5",
        "name": "link in 10",
        "links": [
            "328833e45226d67f"
        ],
        "x": 165,
        "y": 340,
        "wires": [
            [
                "8b9f1e045aa79aa8"
            ]
        ]
    },
    {
        "id": "8b9f1e045aa79aa8",
        "type": "delay",
        "z": "c0f272f785fad1e5",
        "name": "",
        "pauseType": "timed",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 320,
        "y": 340,
        "wires": [
            [
                "1733d209ec32c915"
            ]
        ]
    },
    {
        "id": "3f81cf57b6ab0776",
        "type": "comment",
        "z": "c0f272f785fad1e5",
        "name": "Color Assignment Note",
        "info": "Delay nodes to establish colors for time series.\nThe time series of the first measurement to arrive\nwill be assigned navy blue, the second light blue,\nthe third orange, etc.",
        "x": 180,
        "y": 1060,
        "wires": []
    },
    {
        "id": "8d02091b58de8f0b",
        "type": "ui_chart",
        "z": "c0f272f785fad1e5",
        "name": "AirWaterTempChart",
        "group": "96cfaa1c32a04204",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "true",
        "xformat": "auto",
        "interpolate": "step",
        "nodata": "Waiting for data to arrive...",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#aec7e8",
            "#1f77b4",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 850,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "c9afbd275e71215d",
        "type": "aggregator",
        "z": "c0f272f785fad1e5",
        "name": "Avg",
        "topic": "",
        "intervalCount": "5",
        "intervalUnits": "m",
        "submitIncompleteInterval": false,
        "submitPerTopic": true,
        "aggregationType": "mean",
        "x": 450,
        "y": 520,
        "wires": [
            [
                "b21be722cb25c281"
            ]
        ]
    },
    {
        "id": "8adf0d566e08c1f6",
        "type": "link in",
        "z": "c0f272f785fad1e5",
        "name": "link in 12",
        "links": [
            "5fcb7c5549e0edc9"
        ],
        "x": 165,
        "y": 520,
        "wires": [
            [
                "22063e83ef6529ed",
                "2d938f1bd92312c8",
                "1f8ba1f717908b91"
            ]
        ]
    },
    {
        "id": "2f4a181b03590396",
        "type": "aggregator",
        "z": "c0f272f785fad1e5",
        "name": "Min",
        "topic": "",
        "intervalCount": "5",
        "intervalUnits": "m",
        "submitIncompleteInterval": false,
        "submitPerTopic": true,
        "aggregationType": "min",
        "x": 450,
        "y": 580,
        "wires": [
            [
                "cc0896774fa3c81a"
            ]
        ]
    },
    {
        "id": "24b00ec5d4d1f916",
        "type": "aggregator",
        "z": "c0f272f785fad1e5",
        "name": "Max",
        "topic": "",
        "intervalCount": "5",
        "intervalUnits": "m",
        "submitIncompleteInterval": false,
        "submitPerTopic": true,
        "aggregationType": "max",
        "x": 450,
        "y": 460,
        "wires": [
            [
                "95625126784596f0"
            ]
        ]
    },
    {
        "id": "07b1547f9d09cf34",
        "type": "ui_chart",
        "z": "c0f272f785fad1e5",
        "name": "VSPCurrentChart",
        "group": "11f718cecb7bd24c",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "true",
        "xformat": "auto",
        "interpolate": "step",
        "nodata": "Waiting for data to arrive...",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#c5b0d5",
            "#ff9896",
            "#9467bd",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 850,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "60f92dfcfc0745d6",
        "type": "inject",
        "z": "c0f272f785fad1e5",
        "name": "Clear Chart",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[]",
        "payloadType": "jsonata",
        "x": 550,
        "y": 640,
        "wires": [
            [
                "07b1547f9d09cf34"
            ]
        ]
    },
    {
        "id": "22063e83ef6529ed",
        "type": "change",
        "z": "c0f272f785fad1e5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Avg",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 520,
        "wires": [
            [
                "c9afbd275e71215d"
            ]
        ]
    },
    {
        "id": "2d938f1bd92312c8",
        "type": "change",
        "z": "c0f272f785fad1e5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Min",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 580,
        "wires": [
            [
                "2f4a181b03590396"
            ]
        ]
    },
    {
        "id": "1f8ba1f717908b91",
        "type": "change",
        "z": "c0f272f785fad1e5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Max",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 460,
        "wires": [
            [
                "24b00ec5d4d1f916"
            ]
        ]
    },
    {
        "id": "95625126784596f0",
        "type": "change",
        "z": "c0f272f785fad1e5",
        "name": "RoundIt",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$round(msg.payload, 3)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 460,
        "wires": [
            [
                "07b1547f9d09cf34"
            ]
        ]
    },
    {
        "id": "cc0896774fa3c81a",
        "type": "delay",
        "z": "c0f272f785fad1e5",
        "name": "",
        "pauseType": "delay",
        "timeout": "20",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 610,
        "y": 580,
        "wires": [
            [
                "95625126784596f0"
            ]
        ]
    },
    {
        "id": "fe2f5511fcca9378",
        "type": "delay",
        "z": "c0f272f785fad1e5",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 530,
        "y": 120,
        "wires": [
            [
                "8d02091b58de8f0b"
            ]
        ]
    },
    {
        "id": "e1bc41953f65b110",
        "type": "delay",
        "z": "c0f272f785fad1e5",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 530,
        "y": 280,
        "wires": [
            [
                "d8265cee72db87d1"
            ]
        ]
    },
    {
        "id": "1733d209ec32c915",
        "type": "delay",
        "z": "c0f272f785fad1e5",
        "name": "",
        "pauseType": "delay",
        "timeout": "20",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 530,
        "y": 340,
        "wires": [
            [
                "d8265cee72db87d1"
            ]
        ]
    },
    {
        "id": "b21be722cb25c281",
        "type": "delay",
        "z": "c0f272f785fad1e5",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 610,
        "y": 520,
        "wires": [
            [
                "95625126784596f0"
            ]
        ]
    },
    {
        "id": "e8f39a01532e3b8f",
        "type": "aggregator",
        "z": "c0f272f785fad1e5",
        "name": "Avg",
        "topic": "",
        "intervalCount": "5",
        "intervalUnits": "m",
        "submitIncompleteInterval": false,
        "submitPerTopic": true,
        "aggregationType": "mean",
        "x": 450,
        "y": 760,
        "wires": [
            [
                "2685eb98cb65c25f"
            ]
        ]
    },
    {
        "id": "bbec21e3df4e097e",
        "type": "link in",
        "z": "c0f272f785fad1e5",
        "name": "link in 13",
        "links": [
            "03029c545ab1b46c"
        ],
        "x": 165,
        "y": 760,
        "wires": [
            [
                "ce09b32074c27580",
                "855c6e71021e09f5",
                "6c3a0bf599929bdf"
            ]
        ]
    },
    {
        "id": "de52bcf7b07560bc",
        "type": "aggregator",
        "z": "c0f272f785fad1e5",
        "name": "Min",
        "topic": "",
        "intervalCount": "5",
        "intervalUnits": "m",
        "submitIncompleteInterval": false,
        "submitPerTopic": true,
        "aggregationType": "min",
        "x": 450,
        "y": 820,
        "wires": [
            [
                "99de021a1528bade"
            ]
        ]
    },
    {
        "id": "21e74c759256e8a7",
        "type": "aggregator",
        "z": "c0f272f785fad1e5",
        "name": "Max",
        "topic": "",
        "intervalCount": "5",
        "intervalUnits": "m",
        "submitIncompleteInterval": false,
        "submitPerTopic": true,
        "aggregationType": "max",
        "x": 450,
        "y": 700,
        "wires": [
            [
                "9bb944c8c8d0fb23"
            ]
        ]
    },
    {
        "id": "3dd466be8ef82f57",
        "type": "ui_chart",
        "z": "c0f272f785fad1e5",
        "name": "SWCGSupplyCurrentChart",
        "group": "d72708171566f9a3",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "true",
        "xformat": "auto",
        "interpolate": "step",
        "nodata": "Waiting for data to arrive...",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "13",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#c5b0d5",
            "#ff9896",
            "#9467bd",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 820,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "27b2d8541e965666",
        "type": "inject",
        "z": "c0f272f785fad1e5",
        "name": "Clear Chart",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[]",
        "payloadType": "jsonata",
        "x": 550,
        "y": 880,
        "wires": [
            [
                "3dd466be8ef82f57"
            ]
        ]
    },
    {
        "id": "ce09b32074c27580",
        "type": "change",
        "z": "c0f272f785fad1e5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Avg",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 760,
        "wires": [
            [
                "e8f39a01532e3b8f"
            ]
        ]
    },
    {
        "id": "855c6e71021e09f5",
        "type": "change",
        "z": "c0f272f785fad1e5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Min",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 820,
        "wires": [
            [
                "de52bcf7b07560bc"
            ]
        ]
    },
    {
        "id": "6c3a0bf599929bdf",
        "type": "change",
        "z": "c0f272f785fad1e5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Max",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 700,
        "wires": [
            [
                "21e74c759256e8a7"
            ]
        ]
    },
    {
        "id": "9bb944c8c8d0fb23",
        "type": "change",
        "z": "c0f272f785fad1e5",
        "name": "RoundIt",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$round(msg.payload, 3)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 700,
        "wires": [
            [
                "3dd466be8ef82f57"
            ]
        ]
    },
    {
        "id": "99de021a1528bade",
        "type": "delay",
        "z": "c0f272f785fad1e5",
        "name": "",
        "pauseType": "delay",
        "timeout": "20",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 610,
        "y": 820,
        "wires": [
            [
                "9bb944c8c8d0fb23"
            ]
        ]
    },
    {
        "id": "2685eb98cb65c25f",
        "type": "delay",
        "z": "c0f272f785fad1e5",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 610,
        "y": 760,
        "wires": [
            [
                "9bb944c8c8d0fb23"
            ]
        ]
    },
    {
        "id": "ef165b825f6f2b09",
        "type": "link in",
        "z": "c0f272f785fad1e5",
        "name": "link in 14",
        "links": [
            "03029c545ab1b46c"
        ],
        "x": 165,
        "y": 940,
        "wires": [
            [
                "d466416297612613"
            ]
        ]
    },
    {
        "id": "d466416297612613",
        "type": "function",
        "z": "c0f272f785fad1e5",
        "name": "ConvertActiveCurrentToDutyCycle",
        "func": "var current = msg.payload;\nmsg.topic = 'Duty Cycle';\nif (current > 0.035) {\n    if (current > 0.35)\n        msg.payload = 100.0;\n    else\n        msg.payload = 0.0;\n}\nelse {\n    // Don't send any message to the next node in the flow\n    msg = null;\n}\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 940,
        "wires": [
            [
                "f4f764bd92b15f28"
            ]
        ]
    },
    {
        "id": "f4f764bd92b15f28",
        "type": "aggregator",
        "z": "c0f272f785fad1e5",
        "name": "DailyAvg",
        "topic": "",
        "intervalCount": "1",
        "intervalUnits": "d",
        "submitIncompleteInterval": true,
        "submitPerTopic": true,
        "aggregationType": "mean",
        "x": 600,
        "y": 940,
        "wires": [
            [
                "8fbfe76f38e02dd9"
            ]
        ]
    },
    {
        "id": "8fbfe76f38e02dd9",
        "type": "change",
        "z": "c0f272f785fad1e5",
        "name": "RoundIt",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$round(msg.payload, 1)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 940,
        "wires": [
            [
                "507b5e65170af641"
            ]
        ]
    },
    {
        "id": "507b5e65170af641",
        "type": "ui_chart",
        "z": "c0f272f785fad1e5",
        "name": "SWCGDailyDutyCycleChart",
        "group": "9535ae078c18fbf1",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "Waiting for data to arrive...",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": "7",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ce2512",
            "#ff9896",
            "#9467bd",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 820,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "330b4099f8608834",
        "type": "inject",
        "z": "c0f272f785fad1e5",
        "name": "Clear Chart",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[]",
        "payloadType": "jsonata",
        "x": 550,
        "y": 1000,
        "wires": [
            [
                "507b5e65170af641"
            ]
        ]
    }
]