node_modules/node-red-contrib-toggle/examples/BasicUsage.json
[{"id":"8c25b009.b2e0f8","type":"debug","z":"932efad.7e2e288","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":640,"y":140,"wires":[]},{"id":"a4dc4e17.cb385","type":"inject","z":"932efad.7e2e288","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":210,"y":140,"wires":[["93314a29.b67298"]]},{"id":"46ddfbf5.cf2474","type":"inject","z":"932efad.7e2e288","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":210,"y":180,"wires":[["93314a29.b67298"]]},{"id":"93314a29.b67298","type":"toggle","z":"932efad.7e2e288","name":"","onOffTopic":"","onValue":"true","onType":"bool","offValue":"false","offType":"bool","toggleTopic":"","toggleValue":"","toggleType":"str","passOnOff":"always","x":440,"y":140,"wires":[["8c25b009.b2e0f8"]]},{"id":"d4bbeb64.9e53d","type":"comment","z":"932efad.7e2e288","name":"Basic usage","info":"","x":210,"y":80,"wires":[]}]
