node_modules/node-red-contrib-toggle/examples/ToggleUsage.json
[{"id":"74a84814.4ecc6","type":"inject","z":"510347e3.350df8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"-","payload":"-","payloadType":"str","x":290,"y":220,"wires":[["d9c64d70.401e88"]]},{"id":"d9c64d70.401e88","type":"toggle","z":"510347e3.350df8","name":"","onOffTopic":"","onValue":"true","onType":"bool","offValue":"false","offType":"bool","toggleTopic":"","toggleValue":"","toggleType":"any","passOnOff":"ifChanged","x":520,"y":220,"wires":[["847d3703.2d63a"]]},{"id":"847d3703.2d63a","type":"debug","z":"510347e3.350df8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":720,"y":220,"wires":[]},{"id":"c088c2d7.67dc1","type":"comment","z":"510347e3.350df8","name":"Toggle usage","info":"","x":300,"y":160,"wires":[]}]
