node_modules/node-red-contrib-toggle/examples/TopicUsage.json
[{"id":"367a74a2.19cbdc","type":"debug","z":"932efad.7e2e288","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"msg","x":730,"y":440,"wires":[]},{"id":"36113b47.3526fc","type":"inject","z":"932efad.7e2e288","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"onofftopic","payload":"switchON","payloadType":"str","x":260,"y":440,"wires":[["aa5f35ad.c3b45","16ce4ed9.45a261"]]},{"id":"7f53c1b9.00898","type":"inject","z":"932efad.7e2e288","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"toggletopic","payload":"toggleSTATE","payloadType":"str","x":270,"y":520,"wires":[["aa5f35ad.c3b45","16ce4ed9.45a261"]]},{"id":"63bb75b9.729424","type":"inject","z":"932efad.7e2e288","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"onofftopic","payload":"switchOFF","payloadType":"str","x":260,"y":480,"wires":[["aa5f35ad.c3b45","16ce4ed9.45a261"]]},{"id":"aa5f35ad.c3b45","type":"toggle","z":"932efad.7e2e288","name":"","onOffTopic":"onofftopic","onValue":"switchON","onType":"str","offValue":"switchOFF","offType":"str","toggleTopic":"toggletopic","toggleValue":"toggleSTATE","toggleType":"str","passOnOff":"always","x":560,"y":440,"wires":[["367a74a2.19cbdc"]]},{"id":"6196024d.fe063c","type":"comment","z":"932efad.7e2e288","name":"Usage with topic","info":"","x":230,"y":380,"wires":[]},{"id":"16ce4ed9.45a261","type":"debug","z":"932efad.7e2e288","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"auto","x":550,"y":520,"wires":[]}]
